<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>
      #map {
        height: 60%;
      }
</style>

{% block content %}

<div class="post">
	
	<h2 class="title">Про нас</h2>
           
	<div class="entry">
	<p align="justify" style="font-size: 110%">			
	Привіт! Наш сайт створено для підтримки велосипедної спільноти Рівного. 
	Виключна велотериторія. 
	Почувайтеся вільно, але в межах розумного: мій байк Вашому байку – «друг, товариш і брат». :-) <br>
	Раді будь-якій співпраці з метою згуртування любителів (і не тільки) велосипедного руху, пропаганді здорового способу життя на двох колесах, організації і проведенні спортивних заходів за участі велосипедистів.
	Давайте, проїдемося разом!
</p>			
			
	
	<p align="justify" style="font-size: 120%">
	Якщо ви володієте цікавою інформацією чи новинами на велотематику, можете поділитись з нами і зробити наповнення цього сайту ще цікавішим.
	<br /><br />
	</p>

	<p style="font-size: 100%">	
	<b>
	Контакт з нами:
	</b><br>
	Електронна адреса: <a href="mailto:rivelo@ymail.com">rivelo@ymail.com</a>
	<br /> 
	Адреса магазину-майстерні: м.Рівне, вул.Кавказька 6
	<br /> 
	<b> Телефони: </b>  
	<li> (050)339-33-25 </li> 
	<li> (096)813-94-40 </li>
	<li> (0362)26-27-47 </li>
	<li> (093)545-42-59
	<br /> 
	
	<img src="https://lh4.googleusercontent.com/-Scf3lN1lIXE/UzYNLF1QG_I/AAAAAAAACP0/eak6f7OnnSQ/w762-h496-no/map.jpg" width="550px">
	</p>

	</div>
</div>


    <div id="map"></div>
<script>

function initMap() {
  var myLatLng = {lat: 50.627250, lng: 26.2509700};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Веломагазин-майстерня Рівело'
  });
}

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR8YRTxz9xNV1F75RQp1IwKA4Dt6MBUKQ&signed_in=true&callback=initMap"></script>
  
 

{% endblock %}




