
{% block content %}

<div class="post">
	
	<h2 class="title">Про нас</h2>
           
	<div class="entry">
	<p align="justify" style="font-size: 110%">			
	Привіт! Наш сайт створено для підтримки велосипедної спільноти Рівного. 
	Виключна велотериторія. 
	Почувайтеся вільно, але в межах розумного: мій байк Вашому байку – «друг, товариш і брат». :-) <br>
	Раді будь-якій співпраці з метою згуртування любителів (і не тільки) велосипедного руху, пропаганді здорового способу життя на двох колесах, організації і проведенні спортивних заходів за участі велосипедистів.
	Давайте, проїдемося разом!
</p>			
			
	<br />		
	<p align="justify" style="font-size: 120%">
	Якщо ви володієте цікавою інформацією чи новинами на велотематику, можете поділитись з нами і зробити наповнення цього сайту ще цікавішим.
	<br /><br />
	</p>

	<p style="font-size: 100%">	
	<b>
	Контакт з нами:
	</b><br>
	Електронна адреса: <a href="mailto:rivelo@ymail.com">rivelo@ymail.com</a>
	<br /> 
	Адреса магазину-майстерні: м.Рівне, вул.Кавказька 6
	<br /> 
	Телефони: <br /> 
	0503393325<br /> 
	0968139440<br />  (0362)262747
	<br /> 
	
	<img src="https://lh4.googleusercontent.com/-Scf3lN1lIXE/UzYNLF1QG_I/AAAAAAAACP0/eak6f7OnnSQ/w762-h496-no/map.jpg" width="550px">
	</p>

	</div>
</div>


{% endblock %}




