<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<style>
      #map {
        /*height: 60%;*/
        height: 500px !important;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
      }

/*#carouselExampleIndicators .carousel-item {
    height: 1100px;
//    height: auto;
    background-color: #E4EFE0;
}
*/

.carousel-control-next,
.carousel-control-prev, .carousel-indicators {
    filter: invert(100%);
}


.carousel-indicators {
  top: 10px;
/*  justify-content:flex-start; 
  margin:0; */
/*  padding-left:15px;
  padding-right:15px; */
}

/*.carousel-indicators li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}*/

.carousel-indicators li:not(:last-child) {
   margin-right: 2px; 
}

 
.phone_li  li{
margin-bottom: 2px;
line-height: 1.5;
} 


.carousel-indicators{
/* top: 200px; */
}
.slider-main{
margin-top: 20px;
}
.carousel-inner{
width: 100%;
}
.carousel-inner .carousel-item h3{
display: inline-block;
/* opacity: 0.5; */  
}
.carousel-inner .carousel-item p{
font-size: 17px;
}

.material-icons {
  font-size: 48px;
}
      
.shop_phone {
  font-size: 24px;
} 
      
li {
list-style-type: none;
}
      
</style>

<script>
$(document).ready(function() {
//	$(".photo-container").find('img').wrap('<div class="wrap-img"></div>');

$('.carousel').carousel({
  interval: 4000
})

});
</script>

{% block content %}

<div class="post">
	
	<h2 class="title">Про нас</h2>
           
	<div class="entry">
	<p align="justify" style="font-size: 110%">			
	Привіт! Наш сайт створено для підтримки велосипедної спільноти Рівного. 
	Виключна велотериторія. 
	Почувайтеся вільно, але в межах розумного: мій байк Вашому байку – «друг, товариш і брат». :-) <br>
	Раді будь-якій співпраці з метою згуртування любителів (і не тільки) велосипедного руху, пропаганді здорового способу життя на двох колесах, організації і проведенні спортивних заходів за участі велосипедистів.
	Давайте, проїдемося разом!
</p>			
			
	
	<p align="justify" style="font-size: 120%">
	Якщо ви володієте цікавою інформацією чи новинами на велотематику, можете поділитись з нами і зробити наповнення цього сайту ще цікавішим.
	</p>
	
	</div>
</div>

{% comment %}
Кнопки з телефонами магазинів
{% endcomment %}	
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Магазин Кавказька 6</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">Магазин Міцкевича 7</button>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Обидва магазини</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
<h4><span class="badge badge-secondary">	<b>	Адреса магазину-майстерні:</b> м.Рівне, вул.Кавказька 6 </span></h4>       
<h5 id="phone_li"> 
<b> Телефони: </b>  
	<li> 
	<span id="shop_phone" class="shop_phone material-icons">call</span><a href="tel:+380503393325">+38(050)339-33-25</a>
	</li> 
	<li>
	<span id="shop_phone" class="shop_phone material-icons">call</span>	<a href="tel:+380968139440">+38(096)813-94-40</a>
	</li>
	<li> 
	<span id="shop_phone" class="shop_phone material-icons">call</span><a href="tel:+380632244809">+38(063)224-48-09</a>
	<br>

<div class="container">
  <div class="row justify-content-start">
    <div class="col-2">
	<a href="viber://chat?number=+380503393325">
	<img src="https://www.freepnglogos.com/uploads/viber-png/viber-app-sync-contact-issue-why-some-contacts-not-0.png" width="48" alt="viber app sync contact issue why some contacts not" />
	Viber 
	</a>
	</div>
<div class="col-2">	
<a href=mailto:rivelo@ymail.com">
<span class="material-icons" width = 48px>alternate_email</span>
Email
</a>
</div>
</div>
</div>

	</li>
</h5>
<h5>
<span class="badge badge-secondary">Графік роботи:</span>
</h5>
<h6>
Понеділок-Субота з 10:00 до 20:00
<br>
Неділя - Вихідний
</h6>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.1571304980928!2d26.25042380453226!3d50.62699676561817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd29fa376edc78a2e!2z0KDRltCy0LXQu9C-!5e0!3m2!1suk!2sua!4v1636018521435!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>	
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
<h4><span class="badge badge-secondary">	<b> Адреса магазину-майстерні: </b>  м.Рівне, вул.Міцкевича 7 </span></h4>
<h5> 
	<b> Телефони: </b>
	<br>
	<span id="shop_phone" class="shop_phone material-icons">call</span>
	<a href="tel:+380678163615">+38(067)816-36-15</a>  
<br>
<div class="container">
  <div class="row justify-content-start">
    <div class="col-2">
	<a href="viber://chat?number=+380678163615">
	<img src="https://www.freepnglogos.com/uploads/viber-png/viber-app-sync-contact-issue-why-some-contacts-not-0.png" width="48" alt="viber app sync contact issue why some contacts not" />
	Viber 	
	</a>
    </div>
    <div class="col-2">
	<a href=mailto:rivelo@ymail.com">
	<span class="material-icons" width = 48px>alternate_email</span>
	Email
	</a>
    </div>
  </div>
</div>
</h5>
<h5>
<span class="badge badge-secondary">Графік роботи:</span>
</h5>
<h6>
Понеділок-Субота з 10:00 до 20:00
<br>
Неділя з 10:00 до 15:00
</h6>        
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1064.1948139747076!2d26.256888113178324!3d50.62533176131267!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7dc79c9195e71c4!2z0KDRltCy0LXQu9C-!5e0!3m2!1suk!2sua!4v1636018341180!5m2!1suk!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
</div>	


{% comment %}
Slider
{% endcomment %}


<div class="container">
<div class="row">
<div class="col-12 slider-main">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
<ol class="carousel-indicators">
<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>

</ol>
<div class="carousel-inner text-white m-auto">
<div class="carousel-item active">
<img src="https://lh4.googleusercontent.com/-Scf3lN1lIXE/UzYNLF1QG_I/AAAAAAAACP0/eak6f7OnnSQ/w762-h496-no/map.jpg" width="100%">
<h3 class="text-dark bg-white mb-4 pl-3 pr-3 pt-1 pb-1 font-weight-bold"><b>	Адреса магазину-майстерні:</b> м.Рівне, вул.Кавказька 6</h3><br>
<p class="text-justify text-dark">
<h3>	<span class="badge badge-light">Контакт з нами:</span> 
<br>
	<span class="badge badge-light"> Електронна адреса: </span> <a href="mailto:rivelo@ymail.com">rivelo@ymail.com</a> 
<br>
<span class="badge badge-light">Телефони: </span>
</h3>
<h5 class="phone_li"> 
	<li> 
	<a href="tel:+380503393325">+38(050)339-33-25</a>
	</li> 
	<li>
	<a href="tel:+380968139440">+38(096)813-94-40</a>
	</li>
	<li> 
	<a href="tel:+380632244809">+38(063)224-48-09</a> 
	</li>
</h5>
</p>
<p class="text-justify text-dark"> 
{# text #}
</p>
</div>
<div class="carousel-item">
<img src="https://lh3.googleusercontent.com/gVYy86pD9LwMOTAHurfG2b-MAC2DIv-IqecuXDOcC2aNSt5mTk8qVTJBFaaLuHKR7QhLNOsy8gHOLICbyrFAEtqqD2mcUpoaHTApro3cctrA4tf8yuZRtvKpp_z9VTao4255Taxqgg=w2400" 	width=100%>
<h3 class="text-dark bg-white mb-4 pl-3 pr-3 pt-1 pb-1 font-weight-bold"><b> Адреса магазину-майстерні: </b>  м.Рівне, вул.Міцкевича 7</h3><br>
<p class="text-justify text-dark">
<h3>	<span class="badge badge-light">Контакт з нами:</span> 
<br>
	<span class="badge badge-light"> Електронна адреса: </span> <a href="mailto:rivelo@ymail.com">rivelo@ymail.com</a> 
<br>
<span class="badge badge-light">Телефони: </span>
</h3>

<h5 class="phone_li"> 
	<a href="tel:+380678163615">+38(067)816-36-15</a>  
</h5>

</p>     
<p class="text-justify">
{# text #}
</p>
</div>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="sr-only">Next</span>
</a>
</div>
</div>
</div>
</div>




{# slider #}

{% comment %}
<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <img class="d-block w-100" src="..." alt="Магазин Кавказька 6">
<p>	
<h3>	<span class="badge badge-light">Контакт з нами:</span> </h3>
	Електронна адреса: <a href="mailto:rivelo@ymail.com">rivelo@ymail.com</a>
	<br /> 
<h5>	<b>	Адреса магазину-майстерні:</b> м.Рівне, вул.Кавказька 6 </h5> 
<h5 id="phone_li"> 
	<li><b> Телефони: </b></li>  
	<li> 
	<a href="tel:+380503393325">+38(050)339-33-25</a>
	</li> 
	<li>
	<a href="tel:+380968139440">+38(096)813-94-40</a>
	</li>
	<li> 
	<a href="tel:+380632244809">+38(063)224-48-09</a> 
	</li>
</h5>	
	
	<img src="https://lh4.googleusercontent.com/-Scf3lN1lIXE/UzYNLF1QG_I/AAAAAAAACP0/eak6f7OnnSQ/w762-h496-no/map.jpg" width="550px">
		
</p>      
<div id="map" ></div>      
    </div>
    

    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Магазин Міцкевича 7">
<h3>	<span class="badge badge-light">Контакт з нами:</span> </h3>
	Електронна адреса: <a href="mailto:rivelo@ymail.com">rivelo@ymail.com</a>
<p> 

<h5>	<b> Адреса магазину-майстерні: </b>  м.Рівне, вул.Міцкевича 7 </h5>
<h5> 
	<b> Телефони: </b>
	<a href="tel:+380678163615">+38(067)816-36-15</a>  
</h5>
<img src="https://lh3.googleusercontent.com/gVYy86pD9LwMOTAHurfG2b-MAC2DIv-IqecuXDOcC2aNSt5mTk8qVTJBFaaLuHKR7QhLNOsy8gHOLICbyrFAEtqqD2mcUpoaHTApro3cctrA4tf8yuZRtvKpp_z9VTao4255Taxqgg=w2400" 	width=100%>
</p>      
      
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endcomment %}

{% comment %}
	<p style="font-size: 100%">	
	<b>
	Контакт з нами:
	</b><br>
	Електронна адреса: <a href="mailto:rivelo@ymail.com">rivelo@ymail.com</a>
	<br /> 
	Адреса магазину-майстерні: м.Рівне, вул.Кавказька 6
	<br /> 
	<b> Телефони: </b>  
	<li> (050)339-33-25 </li> 
	<li> (096)813-94-40 </li>
	<li> (063)224-48-09
	</p>
	
	<img src="https://lh4.googleusercontent.com/-Scf3lN1lIXE/UzYNLF1QG_I/AAAAAAAACP0/eak6f7OnnSQ/w762-h496-no/map.jpg" width="550px">

{% endcomment %}

    


    
<script>

function initMap() {
  var myLatLng = {lat: 50.627250, lng: 26.2509700};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Веломагазин-майстерня Рівело'
  });
}

</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR8YRTxz9xNV1F75RQp1IwKA4Dt6MBUKQ&signed_in=true&callback=initMap"></script>
  
 
{% endblock %}




