<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<style>

.image-component {
	position	: relative;
	width		: 100%; /* for IE 6 */
}

h5.sale {
	color: white;
	background-color: red;
	font-weight: bold;
	position	: absolute; 
/*	float: right;*/
	top: 2px;
/*	bottom		: 100px;*/
/*	right		: 0px;*/
	left		: 2px; 
/*	width		: 50%; */
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 3px;

}

.bphoto {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
/*    background: none;
    cursor: pointer; */
} 
        
</style>

<script>
$(function () {

	$('[data-toggle="tooltip"]').tooltip()
		
})
</script>

{% load poll_extras %}

{% block content %}

<div class="post">

<div class="row">
	<div class="col-9">
	<h1 class="title">
	 
	<span class="badge badge-success">{{bicycle_bytype.0.model.type.type}}</span>
	{% if bicycle_bytype.0.model.type.ukr_name %}
	<span class="badge badge-success">{{bicycle_bytype.0.model.type.ukr_name}}</span><a href="{% url 'bicycle-company' %}"></a>
	{% endif %}
	</h1>
	</div>
	<div class="col-auto">
{#	<img src="/media/{{bicycle_bybrand.0.model.brand.logo}}" class="bphoto"/> #}
	</div>
</div>	

<div class="row">
<div class="col d-flex align-content-around flex-wrap m-1">
{% if bicycle_bytype.exists %}
{% for bike in bicycle_bytype %}
	<div class="mr-auto" style="background:#ddf2c6; width:200px; height:320px; margin: 10px 10px 0px 0px; padding: 5px 5px 5px 5px;">
{#	<div class="mr-auto" style="float:left;background:#ddf2c6; width:200px; height:320px; margin: 10px 10px 0px 0px; padding: 5px 5px 5px 5px;"> #}
	<div class="image-component">

	{% if bike.model.sale %}
		<h5 class="sale">Знижка {{bike.model.sale|floatformat:"0"}} %</h5>
	{% else %}
	
	{% endif %}
	
	<a href="{% url 'bicycle-show' bike.id %}" title="{{bike.model}}" data-toggle="tooltip" data-placement="top"> 
		<div style="background-color: white; ">
		<img src="/media/{{bike.model.photo}}" width="200px"/>
		</div>
	</a>
	</div>
	<p align="justify" style="font-size: 100%"> 
	<a href="{% url 'bicycle-show' bike.id %}" title="{{bike.model}}" data-toggle="tooltip" data-placement="top"> {{bike.model}}  </a>
	
{# 	<br> Ціна {{bike.model.price}} грн.  Знижка {{bike.model.sale}}% #}
	
{% if status_type %}
	Виробник: <a href="{% url 'components-list-bybrand'  component.manufacturer.id %}"> {{component.manufacturer.name}} </a>
{% endif %}	
{% if status_brand %}
	Тип: <a href="{% url 'components-list-bytype'  component.type.id %}"> {{component.type.name_ukr}} </a>
{% endif %}	
	<br>
{% if bike.model.sale > 0 %}	
	Ціна: <s>{{bike.model.price|floatformat:"0"}} </s> <b>{{bike.model.get_saleprice|floatformat:"0"}} грн. </b>
{% else %}
	Ціна: <b> {{bike.model.price}} грн. </b>
{% endif %}	
		
	</p> 
	</div>
{% endfor %}	
{% endif %}
</div>
</div>


</div>


{% endblock %}



