<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
$(function () {

	$('[data-toggle="tooltip"]').tooltip()
		
})
</script>


<style>
.image-component {
	position	: relative;
	width		: 100%; /* for IE 6 */
}

h5.sale {
	color: white;
	background-color: red;
	font-weight: bold;
	position	: absolute; 
/*	float: right;*/
	bottom		: 0px;
	right		: 0px;
/*	left		: 100px; */
/*	width		: 50%; */
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;

}

h5.discount {
	color: white;
	background-color: black;
	font-weight: bold;
	position	: absolute; 
/*	float: right;*/
	bottom		: 0px;
	right		: 0px;
/*	left		: 100px; */
/*	width		: 50%; */
}

.item_photo1{
	width: 200px;
	max-height: 200px; 
}

.item_photo {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: none;
/*    background: none;
    cursor: pointer; */
} 


.badge-myinfo {
  background-color: black;
  color: white;
}
.badge-myinfo:hover {
  background-color: red;
}
        
    </style>

{% load poll_extras %}

{% block content %}

<div class= "row" style="height:64px">
{% if status_brand %}
<img class="ml-3" src="/media/{{components_sale.0.manufacturer.logo}}" style="height:64px">
<div class="col-auto my-auto">
<h2>Виробник - {{components_sale.0.manufacturer}}</h2>
</div>
{% endif %}
{% if status_type %}
<img class="ml-3" src="{{components_sale.0.type.get_icon_name}}" style="width:64px; height:64px"> 
<div class="col-auto my-auto">
<h1 class="h-100 my-auto" >
 <span class="badge badge-secondary my-auto">{{components_list.0.type}}</span>
</h1>
</div>
{% endif %}
 
 	{% if title == 1 %} 
    	<h1><span class="badge badge-secondary">Нові надходження</span></h1>
    {% else %}
	    <h1><span class="badge badge-secondary">Акційні товари</span></h1>
	{% endif %}
	
{% comment %}
<div>
    <span class="badge badge-secondary">Badge 1</span>
</div>
<div>
    <span class="badge badge-secondary">Badge 2</span>
</div>
{% endcomment %}

</div> 

<div class="post">
 
{% for component in components_sale %}
	<div style="float:left;background:#ddf2c6; width:200px; height:330px; margin: 10px 10px 0px 0px; padding: 5px 5px 5px 5px;">
<div class="image-component">
	<div style="background-color: white; height:200px;">
	<img src="
	{% if component.photo %}
	/media/{{component.photo}}
	{% elif component.photo_url.all %}
	{{ component.photo_url.all.0.local }}
	{% else %}
	{# component.photo_url.all.0.local #}
	{% endif %}
	"  alt="{{component.name}} -> {{component.photo_url.all.0.local}}" class="item_photo"/>
	</div> 
	{% if component.sale %}
	<h5 class="sale">Знижка {{component.sale|floatformat:"0"}} %</h5>
	{% else %}
	{% if component.get_discount %}
		<h5 class="discount"><span class="badge badge-myinfo"> {{component.get_discount_item.name}}: {{component.get_discount|floatformat:"0"}} грн. </span></h5>
	{% endif %}
	{% endif %}
</div>	
	<p align="justify" style="font-size: 98%"> 
	<a href="{% url 'component-show' component.id %}" > [{{component.ids}}] {{component.name|slice:"40"}} </a><br>
	Тип: <a href="{% url 'components-list-bytype'  component.type.id %}"> {{component.type}} </a>
	<br>
{% if component.sale > 0 %}	
	Ціна: <s>{{component.price|floatformat:"0"}} </s> <b>{{component.get_saleprice|floatformat:"0"}} грн. </b>
{% else %}
	Ціна: <b> {{component.price}} грн. </b>
{% endif %}	
	</p>
{#	 	<h5><span class="badge badge-myinfo"> Чорна п'ятниця: {{component.get_discount|floatformat:"0"}} грн. </span></h5> #}
	</div>
{#	<a href="{% url 'component-show' component.id %}"> [{{component.ids}}] {{component.name}} <img src="/media/{{component.photo}}"/> </a> #}
{% endfor %}	






{% comment %}

{# Акційні позиції #}
{% if components_sale %}
{% for component in components_sale %}
	<div style="float:left;background:#ddf2c6; width:200px; height:330px; margin: 10px 10px 0px 0px; padding: 5px 5px 5px 5px;">
	<img src="/media/{{component.photo}}" width="200px" style="background-color: white; height:200px;"/>
	<p align="justify" style="font-size: 100%"> 
	<a href="{% url 'component-show' component.id %}"> [{{component.ids}}] {{component.name}} ({{component.get_realshop_count}})</a><br> Ціна {{component.price}} грн.  Знижка {{component.sale}}%
	<a href="{% url 'components-list-bytype'  component.type.id %}"> {{component.type}} </a>
	</p> 
	</div>
{#	<a href="{% url 'component-show' component.id %}"> [{{component.ids}}] {{component.name}} <img src="/media/{{component.photo}}"/> </a> #}
{% endfor %}	
{% endif %}

{% endcomment %}



</div>




{% endblock %}



