<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
$(function () {

	$('[data-toggle="tooltip"]').tooltip()

        var $videoSrc;  
        $('.video-btn').click(function() {
            $videoSrc = $(this).data( "src" );
        });
//        console.log($videoSrc);
          
        // when the modal is opened autoplay it  
        $('#myModal').on('shown.bs.modal', function (e) {
        // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
        $("#video").attr('src',$videoSrc + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1" ); 
        })
          
        // stop playing the youtube video when I close the modal
        $('#myModal').on('hide.bs.modal', function (e) {
            // a poor man's stop video
            $("#video").attr('src',$videoSrc); 
        }) 
	
	$('.catalog_photo').click(function() {
//	$('img[data-u]').dblclick(function() {
//		console.log("This work. Src = " + $(this).attr('src') );
//		console.log("Img Src = " + $('#modalIMG').find('img').attr('src') );
		$('#modalIMG').find('img').attr('src', $(this).attr('src'));
		$('#modalIMG').modal('show');
		
	});


})
</script>



<style>

h4.sale {
	color: white;
	background-color: red;
	font-weight: bold;
	position	: absolute; 
/*	float: right;*/
	bottom		: 0px;
	right		: 0px;
/*	left		: 100px; */
/*	width		: 50%; */
}
 
.ilogo {
    height: auto; 
    width: auto; 
    max-width: 175px; 
    max-height: 175px;
} 

.badge-myinfo {
  background-color: black;
  color: white;
}
.badge-myinfo:hover {
  background-color: red;
}
        


.image-component {
	position	: relative;
	width		: 100%; /* for IE 6 */
}

h5.sale {
	color: white;
	background-color: red;
	font-weight: bold;
	position	: absolute; 
/*	float: right;*/
	bottom		: 0px;
	right		: 0px;
/*	left		: 100px; */
/*	width		: 50%; */
}



.card img {
/*  width: 100%; */
}

.card {
{#  background-color: lightgrey; #}
/*  width: 30%; */
  margin: 0px;
  flex: 5;
  border: 1px solid lightgrey;
  display: flex;           /* new */
  flex-direction: column;  /* new */
}

.card-block {
  padding: 10px;
  background-color: #fff;
  flex: 2;                /* new */
}

.card-title {
  font-size: 18px;
  color: grey;
  font-family: verdana, sans;
}

.card-footer {
  padding: 15px;
  border-top: 1px solid lightgrey;
  background-color: lightgrey;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 4;
  }

  @include media-breakpoint-only(lg) {
    column-count: 6;
  }
  @include media-breakpoint-only(xl) {
    column-count: 7;
  }
}
 
.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
}

.modal-body {
  position:relative;
  padding:0px;
}

.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
} 

.modal,body.modal-open {
    padding-right: 0!important
}

body.modal-open {
    overflow: auto
}

body.scrollable {
    overflow-y: auto
}

.modal-footer {
	display: flex;
	justify-content: flex-start;
	.btn {
		position: absolute;
		right: 10px;
	}
}



.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#modalIMG .modal-dialog {
      max-width: 90%;
      margin: 30px auto; 
  }


#modalIMG .modal-body {
  position:relative;
  padding:0px;
/*  min-height:400px; */ 
  background:#fff;
  width: auto; 
  
}


#modalIMG .close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

#modalIMG > image {
/*  min-height:200px; */
	max-height: 90%;
	max-width: 90%;
}

.carousel {
  max-height: 700px;
  overflow: hidden;

  .item img {
    width: 100%;
    height: auto;
  }
}
 
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23028900' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23028900' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#PhotoCarousel li {
	background-color: green;
}
 
#PhotoCarousel li.active {
	background-color: #09e810;
}
   
</style>

{% load poll_extras %}

{% block content %}

<div class="row">
<div class="col">
<h2><span class="badge badge-secondary">[{{component.manufacturer.name}}]  {{component.name}}</span></h2>
	<p>Рейтинг користувачів: 
	<i class="material-icons" style="font-size:14px;">star</i>
	<i class="material-icons" style="font-size:14px;">star_half</i>
	<i class="material-icons" style="font-size:14px;">star_border</i>
	<i class="material-icons" style="font-size:14px;">star_border</i>
	<i class="material-icons" style="font-size:14px;">star_border</i>
	{#component.rating|default_if_none:"-"#}
	</p>
</div>
</div>


<div class="row">

<div class="col-8">

{% if component.get_photos %}
<!-- Photo slide show  -->
<div id="PhotoCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  	{% for photo in component.get_photos %}
    <li data-target="#PhotoCarousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %} active {% endif %}" style="cursor: pointer;"></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">

	{% for photo in component.get_photos %}
    <div class="carousel-item {% if forloop.counter == 1%} active {% endif %}">
      <img class="d-block mw-100 catalog_photo img-center" src="{{photo}}" alt="First slide">
    </div>
    {% endfor %}
    
  </div>
  <a class="carousel-control-prev" href="#PhotoCarousel" role="button" data-slide="prev" >
    <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
    <span class="sr-only" >Previous</span>
  </a>
  <a class="carousel-control-next" href="#PhotoCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" ></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- end Photo slide show  -->
{% else %}
 	<img src='{% get_filename_icontype component.type False %}' />
{% endif %}
	
{% if component.youtube_url.all.exists %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger video-btn w-100 mt-1" data-toggle="modal" data-src="https://www.youtube.com/embed/{{component.youtube_url.all.0.youtube_hash}}" data-target="#myModal"> 
<i class="material-icons align-top">ondemand_video</i> Переглянути відеоогляд <i class="material-icons align-top">ondemand_video</i>
</button>
{% endif %}

</div> {# 1-col#}

<div class="col-auto ">
{% if user.is_authenticated %}	
	<a href="http://10.1.1.20:8005/invoice/search/result/?name=&id={{component.ids}}" ><p>Код товару: {{component.id}} / {{component.ids}}</p></a>
{% else %}
	<p>Код товару: {{component.ids}}</p> 	
{% endif %}

{% if component.price != component.get_saleprice %}
	<s>Ціна товару: {{component.price|floatformat}} грн. </s>	
	<p style="font-size: 120%; font-weight: bold; color: red;"> Нова ціна: {{component.get_saleprice|floatformat:"0"}} грн. </p>
	<p style="font-size: 90%; color:coral;"> Ви заощаджуєте: {{component.price|subtract:component.get_saleprice|floatformat:"0"}} грн. <br> Це {{component.sale|floatformat:"0"}}% від ціни</p>
{% else %}
	<span style="font-size: 120%; font-weight: bold; color: red;">Ціна товару: {{component.price|floatformat}} грн. <br>	
{% endif %}
	</span>
{% if component.get_discount < component.get_saleprice and component.get_discount %}
<h4><span class="badge badge-myinfo"> {{component.get_discount_item.name}}: {{component.get_discount|floatformat:"0"}} грн. </span></h4>
{% endif %}
</div> {# 1-col#}

</div> {# end row #}

<div class="row mt-2">
<div class="col-12">
	<h4><span class="badge badge-dark">Характеристики</span></h4>
	<p>
	Артикул: {{component.ids}} <br>
	Виробник: <a href="{% url 'components-list-bybrand' component.manufacturer.id %}">{{component.manufacturer.name}} ({{component.manufacturer.country}})</a> <br>
	Колір: {{component.color}} <br>
	Країна виробник: {{component.country}} <br>
	Тип: <a href="{% url 'components-list-bytype' component.type.id %}">{{component.type.name}} / {{component.type.name_ukr}}</a> <br>
	</p>
{% if component.description %}
	<p>
	Опис: 
	{{component.description}}
	</p>
{% endif %}	
	<p>
	[{{component.ids}}] [{{component.manufacturer.name}}]  {{component.name}}. </a> Ціна {{component.get_saleprice|floatformat:"0"}} грн.
	</p>
	
</div>

</div> {# end row #}



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-body">

       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>        
        <!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always">></iframe>
</div>
        
      </div>

    </div>
</div>
</div>


<!-- Modal img -->
<div class="modal fade" id="modalIMG" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body ">

       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
       </button>        
          <img src="" alt="" id="image" class="img-fluid mh-100 mw-100 align-content-center img-center">
      </div>

    </div>
  </div>
</div> 
  

{% endblock %}



