<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
$(function () {

	$('[data-toggle="tooltip"]').tooltip()
		
})
</script>


<style>
.image-component {
	position	: relative;
	width		: 100%; /* for IE 6 */
}

h5.sale {
	color: white;
	background-color: red;
	font-weight: bold;
	position	: absolute; 
/*	float: right;*/
	bottom		: 0px;
	right		: 0px;
/*	left		: 100px; */
/*	width		: 50%; */
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 3px;

}

h5.discount {
	color: white;
	background-color: black;
	font-weight: bold;
	position	: absolute; 
/*	float: right;*/
	bottom		: 0px;
	right		: 0px;
/*	left		: 100px; */
/*	width		: 50%; */
}

.item_photo_1{
	max-height: 200px;
	width: 200px;
}  

.item_photo {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: none;
/*    background: none;
    cursor: pointer; */
} 

.badge-myinfo {
  background-color: black;
  color: white;
}
.badge-myinfo:hover {
  background-color: red;
}
        
    </style>

{% load poll_extras %}

{% block content %}

<div class= "row" style="height:64px">
{% if status_brand %}
<img class="ml-3" src="/media/{{components_list.0.manufacturer.logo}}" style="height:64px">
<div class="col-auto my-auto">
<h2>Виробник - {{components_list.0.manufacturer}}</h2>
</div>
{% endif %}
{% if status_type %}
<img class="ml-3" src="{{components_list.0.type.get_icon_name}}" style="width:64px; height:64px"> 
<div class="col-auto my-auto">
<h1 class="h-100 my-auto" >
 <span class="badge badge-secondary my-auto">{{components_list.0.type}}</span>
</h1>
</div>
{% endif %} 
{% if search_str %}
<div class="col-auto my-auto">
<h2>За вашим запитом <span class="badge badge-info"> {{search_str}}</span> <br> Знайдено:</h2>
</div>
{% endif %}
</div> 



<div class="row post ml-1">
 
{% for component in components_list %}
	<div style="float:left;background:#ddf2c6; width:200px; height:330px; margin: 10px 10px 0px 0px; padding: 5px 5px 5px 5px;">
<div class="image-component">
	<div style="background-color: white; height:200px;">
	<a href="{% url 'component-show' component.id %}">
	<img src="
	{% if component.photo %}
	/media/{{component.photo}}
	{% elif component.photo_url.all %}
	{{ component.photo_url.all.0.local }}
	{% else %}
	{# component.photo_url.all.0.local #}
	{% endif %}
	" alt="{{component.name}} -> {{component.photo_url.all.0.local}}" class="item_photo" /></a>
	</div> 
	{% if component.sale %}
	<h5 class="sale">Знижка {{component.sale|floatformat:"0"}} %</h5>
	{% else %}
	{% if component.get_discount %}
		<h5 class="discount"><span class="badge badge-myinfo"> {{component.get_discount_item.name}}: {{component.get_discount|floatformat:"0"}} грн. </span></h5>
	{% endif %}
	{% endif %}
</div>	
	<p style="font-size: 99%"> 
	<a href="{% url 'component-show' component.id %}" title="{{component.name}}" data-toggle="tooltip" data-placement="top"> [{{component.ids}}] {{component.name|slice:"40"}} </a><br>
{% if status_type %}
	Виробник: <a href="{% url 'components-list-bybrand'  component.manufacturer.id %}"> {{component.manufacturer.name}} </a>
{% endif %}	
{% if status_brand %}
	Тип: <a href="{% url 'components-list-bytype'  component.type.id %}"> {{component.type.name_ukr}} </a>
{% endif %}	
	<br>
{% if component.sale > 0 %}	
	Ціна: <s>{{component.price|floatformat:"0"}} </s> <b>{{component.get_saleprice|floatformat:"0"}} грн. </b>
{% else %}
	Ціна: <b> {{component.price}} грн. </b>
{% endif %}	
	</p>
	</div>

{% endfor %}	


</div> {# Row end #}


<br>


{% endblock %}



