<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
function hideall() {
	$("div[ctype]").hide();
	alert( "Handler for .click() called." );
}


$(function () {

	$('[data-toggle="tooltip"]').tooltip()

//	$(".catalog[ctype='65']").show()
 $('#menu_company').on('onchange', function()
    {
	 	console.log("+++ DropDown menu click +++");
    }
 )
 
})


$(document).ready(function() {
	
    $("#hideall").click(function() 
    	{
    		$("div[ctype]").hide() 
    		$("#cm_filters .badge-success").hide();
    		$("#cm_filters .badge-info").hide();
    	});

    //$(".dropdown-menu a").click(function () 
    $("#menu_company a").click(function ()
    	{
        	console.log("DropDown menu click!!!" + $(this).attr("mid") )
        	$("div[mid='"+$(this).attr("mid")+"']").show();
        	$("#cm_filters .badge-success[mid="+$(this).attr("mid")+"]").show();
    	})

    $("#menu_type a").click(function () 
        {
           	console.log("DropDown menu click!!!" + $(this).attr("tid") )
//                		$('#menu-company').find(":selected").text();
           	$("div[ctype='"+$(this).attr("tid")+"']").show();
           	$("#cm_filters .badge-info[tid="+$(this).attr("tid")+"]").show();
        })
        
    $("#cm_filters .badge-success").click(function () {
    	
    	$("div[mid='"+$(this).attr("mid")+"']").hide();
    	$(this).hide();
    })

    $("#cm_filters .badge-info").click(function () {
    	console.log("Print - "+ $(this).attr("tid"));
    	$("div[ctype='"+$(this).attr("tid")+"']").hide();
    	$(this).hide();
    })

    
});
	    
</script>


<style>
.image-component {
	position	: relative;
	width		: 100%; /* for IE 6 */
}

h5.sale {
	color: white;
	background-color: red;
	font-weight: bold;
	position	: absolute; 
/*	float: right;*/
	bottom		: 0px;
	right		: 0px;
/*	left		: 100px; */
/*	width		: 50%; */
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 5px;

}

h5.discount {
	color: white;
	background-color: black;
	font-weight: bold;
	position	: absolute; 
/*	float: right;*/
	bottom		: 0px;
	right		: 0px;
/*	left		: 100px; */
/*	width		: 50%; */
}

.item_photo1{
	width: 200px;
	max-height: 200px; 
}

.item_photo {
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: none;
/*    background: none;
    cursor: pointer; */
} 


.badge-myinfo {
  background-color: black;
  color: white;
}
.badge-myinfo:hover {
  background-color: red;
}
        
    </style>

{% load poll_extras %}

{% block content %}

<div class= "row" style="height:64px">
{% if status_brand %}
<img class="ml-3" src="/media/{{components_sale.0.manufacturer.logo}}" style="height:64px">
<div class="col-auto my-auto">
<h2>Виробник - {{components_sale.0.manufacturer}}</h2>
</div>
{% endif %}
{% if status_type %}
<img class="ml-3" src="{{components_sale.0.type.get_icon_name}}" style="width:64px; height:64px"> 
<div class="col-auto my-auto">
<h1 class="h-100 my-auto" >
 <span class="badge badge-secondary my-auto">{{components_list.0.type}}</span>
</h1>
</div>
{% endif %}
 
 
 	{% if title == 1 %} 
    	<h1><span class="badge badge-secondary">Нові надходження</span><span class="badge badge-success ml-1"><span class="material-icons">filter_alt</span></span></h1>
    {% else %}
	    <h1><span class="badge badge-secondary">Акційні товари</span></h1>
	{% endif %}

</div> 



{# Filters #}
<div class="container-fluid">
<div class="row">
<div class="col">

<div class="dropdown show">
<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
<button type="button" class="btn btn-danger" id="hideall" data-toggle="tooltip" data-placement="top" title="Приховати всі товари">Сховати всі</button>
</div>

  <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Виберіть виробника для показу товарів">
    Виробники
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="menu_company">
{% for company in companys %}  
    <a class="dropdown-item" href="#" mid="{{company.manufacturer__id}}">{{company.manufacturer__name}} <span class="badge badge-light">{{company.brand_c}}</span></a>
{% endfor %}
  </div>


<div class="btn-group dropright">
  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Виберіть категорію для відображення товарів в ній">
    Категорії
  </button>
  <div class="dropdown-menu" id="menu_type">
{% for type in types %} 
    <a class="dropdown-item" href="#" tid="{{type.type__id}}">{{type.type__name}} <span class="badge badge-light">{{type.type_c}}</span></a>
{% endfor %}
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#" id="filter_off">Скинути фільтри</a>
  </div>
</div>  
  
</div>
</div> 
 
<div class="col" id="cm_filters" data-toggle="tooltip" data-placement="top" title="Натисніть на категорію чи виробника щоб приховати товар">
{% for company in companys %}  
    <span class="badge badge-success" mid="{{company.manufacturer__id}}">{{company.manufacturer__name}} <span class="badge badge-light">{{company.brand_c}}</span> </span>
{% endfor %}
{% for type in types %} 
    <span class="badge badge-info" tid="{{type.type__id}}">{{type.type__name}} <span class="badge badge-light">{{type.type_c}}</span> </span>
{% endfor %}
</div>
  
</div>  
</div>

{# MAIN card #}

<div class="post">
 
{% for component in components_sale %}
	<div style="float:left;background:#ddf2c6; width:200px; height:330px; margin: 10px 10px 0px 0px; padding: 5px 5px 5px 5px;" class="catalog" ctype="{{component.type.id}}" mid="{{component.manufacturer.id}}">
<div class="image-component">
	<div style="background-color: white; height:200px;">
	<img src="
	{% if component.photo %}
	/media/{{component.photo}}
	{% elif component.photo_url.all %}
	{{ component.photo_url.all.0.local }}
	{% else %}
	{# component.photo_url.all.0.local #}
	{% endif %}
	"  alt="{{component.name}} -> {{component.photo_url.all.0.local}}" class="item_photo"/>
	</div> 
	{% if component.sale %}
	<h5 class="sale">Знижка {{component.sale|floatformat:"0"}} %</h5>
	{% else %}
	{% if component.get_discount %}
		<h5 class="discount"><span class="badge badge-myinfo"> {{component.get_discount_item.name}}: {{component.get_discount|floatformat:"0"}} грн. </span></h5>
	{% endif %}
	{% endif %}
</div>	
	<p align="justify" style="font-size: 98%"> 
	<a href="{% url 'component-show' component.id %}" > [{{component.ids}}] {{component.name|slice:"40"}} </a><br>
	Тип: <a href="{% url 'components-list-bytype'  component.type.id %}"> {{component.type}} </a>
	<br>
{% if component.sale > 0 %}	
	Ціна: <s>{{component.price|floatformat:"0"}} </s> <b>{{component.get_saleprice|floatformat:"0"}} грн. </b>
{% else %}
	Ціна: <b> {{component.price}} грн. </b>
{% endif %}	
	</p>
{#	 	<h5><span class="badge badge-myinfo"> Чорна п'ятниця: {{component.get_discount|floatformat:"0"}} грн. </span></h5> #}
	</div>
{#	<a href="{% url 'component-show' component.id %}"> [{{component.ids}}] {{component.name}} <img src="/media/{{component.photo}}"/> </a> #}
{% endfor %}	






{% comment %}

{# Акційні позиції #}
{% if components_sale %}
{% for component in components_sale %}
	<div style="float:left;background:#ddf2c6; width:200px; height:330px; margin: 10px 10px 0px 0px; padding: 5px 5px 5px 5px;">
	<img src="/media/{{component.photo}}" width="200px" style="background-color: white; height:200px;"/>
	<p align="justify" style="font-size: 100%"> 
	<a href="{% url 'component-show' component.id %}"> [{{component.ids}}] {{component.name}} ({{component.get_realshop_count}})</a><br> Ціна {{component.price}} грн.  Знижка {{component.sale}}%
	<a href="{% url 'components-list-bytype'  component.type.id %}"> {{component.type}} </a>
	</p> 
	</div>
{#	<a href="{% url 'component-show' component.id %}"> [{{component.ids}}] {{component.name}} <img src="/media/{{component.photo}}"/> </a> #}
{% endfor %}	
{% endif %}

{% endcomment %}



</div>




{% endblock %}



