<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<style>

.event_title {
/*    content: "";
    clear: both;
    display: table; */
    background: #ededed /* #eeeee5 */ ; 
	border: 1px dashed #abab9a; 
	padding: 5px; 
	/* width: 100%; */ 
	box-sizing: border-box;
}

</style>

{% comment %}
#map {
     height: 60%;
}

/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#nav{
	float:left;
	width:100%;
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
	-webkit-padding-start: 0px;	
}
#nav li{
	float:left;
	margin-right:0px;
	position:relative;
	display:block;
}
#nav li a{
	display:block;
	padding:5px;
	color:#fff;
//	color: black;
	background:#6b0c36; //#99f67c;
	text-decoration:none;
	
	text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#nav li a:hover{
	color:#fff;
	background:#6b0c36;
	background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#nav ul li{
	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
//	background:url(dot.gif);
}
#nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	background: #6b0c36;
	background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background: #333;
	background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}

.column {
    float: left;
    padding: 1px;
    box-sizing: border-box;
}
.clearfix {
    content: "";
    clear: both;
    display: table;
    background: #eeeee5; 
	border: 1px dashed #abab9a; 
	padding: 5px; 
	width: 100%;
	box-sizing: border-box;
}
.menu {
    width: 18%;
}
.content {
    width: 82%;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
</style>
{% endcomment %}

<script>
$(document).ready(function(){
//    $("img.poster").hide();
	$("#map").hide();

    $("div.poster").click(function(){
    	var div_p = $(this)
    	var id = $(this).attr("ids")
    	if ($(this).find("h5").html() == "Показати афішу") {
    		$(this).find("h5").html("Приховати афішу");
    		$(this).find("div.poster_content").html('<img src="'+ div_p.attr("img") + '" class="img_poster" id="pimg_'+ id +'">')
    	}
    	else {
    		$(this).find("h5").html("Показати афішу")
    		$(this).find("div.poster_content").empty();
    	}
        // $("#pimg_"+id).toggle();
    });


    $("div.gps").click(function(){
    	var gps_c = $(this).find(".gps_content")
    	if ($(this).find("h5").html() == "Показати маршрут") {
    		$(this).find("h5").html("Приховати маршрут");    	
            $.ajax({
                type: "POST",
                url: "/event/gps/get/",
                data: { eid: $(this).attr("ids") },
                dataType: "json",
                success:function(msg){
                	$.each(msg,function(index,item){
						gps_c.html(item['gps_track'])
						console.log("GPS TRACK = " + item['gps_track'])
                    });
                },
                error:function(xhr, ajaxOptions, thrownError){
                    alert( xhr.responseText );
                }
            });
         }
         else {
         	$(this).find("h5").html("Показати маршрут")
    	 	gps_c.empty();
         }
    })

	$("div.map").click(function(){
		console.log("MAP click")
		$(this).find("div.map_content").html($("#map"));
		$("#map").show();
//		initMap($(this).attr("lat"), $(this).attr("lng"));
		initMap();
	})

});

function initMap(x,y) {
	if (x == null){
		x = 50.627250;
	} 
	if (y == null) {
		y = 26.2509700
	}
  var myLatLng = {lat: x, lng: y};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Веломагазин-майстерня Рівело'
  });
}


</script>

{% load poll_extras %}

{% block content %}

<div class="post">
<h1 class="title">Календар заходів на {{year}} рік
{% if user.is_authenticated and user|has_group:"moder" %}
			<a href="/event/add/" title="Створити"><i class="material-icons">add_circle</i></a>
{% endif %}
</h1>
</div>



{% for item in events %}
<div class="container-fluid " >
<div class="row  event_title h-100" >
<div class="col-2 my-auto" style="padding-left: 0px;">
{% if item.icon %}
  <img class="img-thumbnail" src="/media/{{item.icon}}" height="120px" width="120px"></img>	
{% endif %}
</div>

<div class="col-10 my-auto">
<h2><a href="{% url 'event-show' item.pk %}">{{item.name}} [{{item.date|date:"d.m.Y"}}] 
{% if item.city %}
({{item.city}})
{% endif %}
</a> 

{% if user.is_authenticated and user|has_group:"moder" %}
<a href="/event/{{item.pk}}/edit/" title="Редагувати" style="color:gray;"> <i class="material-icons">create</i></a> 
{% endif %}
</h2>
</div>

</div>

{% if item.photo %}
        <div class="row align-items-center poster" ids="{{item.pk}}" img="/media/{{item.photo}}">
            <div class="col-xs-10" ><h5>Приховати афішу</h5></div>
            <div class="col-xs-2 my-auto" style="padding-right: 10px; padding-left: 15px"><img src="/media/images/poster-icon.png" class="img-responsive" alt="Афіша" width="48px"></div>            
            <div class="col-xs-12 poster_content"><img src="/media/{{item.photo}}" class="img_poster" id="pimg_{{item.pk}}"></div>
        </div>
{% endif %} 


<div class="row h-100" >
<div class="col-12"> 
{% autoescape off %}
{{item.text}}
{% endautoescape %} 
</div>
</div>


<div class="row h-100" >
{# <div class="col-12"> #} 

{% if item.forum_url %}
<h5>Посилання на форум:
<small> <a href="{{item.forum_url}}">{{item.forum_url}}</a> </small>
</h5>
{% endif %}

{#</div>#}
</div>


{% if item.photo %}
        <div class="row align-items-center poster" ids="{{item.pk}}" img="/media/{{item.photo}}">
            <div class="col-xs-10" ><h5>Показати афішу</h5></div>
            <div class="col-xs-2 my-auto" style="padding-right: 10px; padding-left: 15px"><img src="/media/images/poster-icon.png" class="img-responsive" alt="Афіша" width="48px"></div>            
            <div class="col-xs-12 poster_content"></div>
        </div>
{% endif %} 




{# [start-custom format='Ymd\\THi00\\Z']/[end-custom format='Ymd\\THi00\\Z'] #}


<div class="row align-items-center poster" ids="{{item.pk}}" img="/media/{{item.photo}}">
<h5> Додати подію в календар
<a href="http://www.google.com/calendar/event?
action=TEMPLATE
&text=Рівно100
&dates=20180513/20180514
&details=Веломарафон+Рівно100
&location=Рівне+Рівненська+область
&sprop=rivelo.com.ua
&trp=false&sprop=&sprop=name:
"
target="_blank" rel="nofollow">Add to Calendar</a>
</h5>
</div>


{% if item.gps_track %}
<div class="row align-items-center gps" ids="{{item.pk}}">
<div class="col-xs-10" ><h5>Показати маршрут</h5></div>
<div class="col-xs-2 my-auto" style="padding-right: 10px; padding-left: 15px"><img src="/media/images/gps128.png" alt="" title="Показати маршрут" width="48px" style="vertical-align:middle;" ></img></div>
<br>
<div class="col-xs-12 gps_content"></div>
</div>
{% endif %}

<div class="row h-100" >
<h5> Дата та час: {{item.date|date:"d-m-Yр. H:i"}} <small class="text-danger"> (До заходу залишилось {{item.days_left}} днів)</small></h5>
</div>


</div> {# end container #}

{% if item.reg_status == True %}
<h5>Реєстрація:  
{% if item.days_left == 0 %}
<a href="{% url 'event-registration' item.pk %}" class="btn btn-success btn-lg disabled"><h4> Перейти до реєстрації </h4><span class="text-white">Реєстрацію завершено</span></a>
{% else %}
<a href="{% url 'event-registration' item.pk %}" class="btn btn-success btn-lg"><h4> Перейти до реєстрації </h4></a>
{% endif %}
</h5>
<ul class="rules">
<b>Вартість реєстрації:</b>
{% for rule in item.rules.all %}
<li> - {{rule}}
{% if  rule.cur_date_rule %}
<b style="color: red;">*{{rule.cur_date_rule}}</b>
{% endif %}
</li> 
{% endfor %}
* можливість вибрати стартовий номер <b>+5грн</b>
</ul>

<h5>Учасники:  
<a href="/event/{{item.pk}}/registration/list/" type="button" class="btn btn-success btn-lg" style="font-size: 14px">
  Список зареєстрованих учасників: <span class="badge badge-light btn-lg" style="font-size: 20px">{{item.riders_count}}</span> чоловік
</a>
</h5>

{% endif %}

{% if item.reg_url != '' %}
<h5>Реєстрація:  
<a href="{{item.reg_url}}">Перейти до реєстрації</a>
</h5>
{% else %}
{% endif %}



{% if item.result_present %} 
<h5>Результати:  
<a href="{% url 'event-result' item.pk %}">Результати</a>
</h5>
{% endif %}


{% if user.is_authenticated and user|has_group:"moder" %}
<h5>Стартовий протокол:  
<a href="{% url 'event-start-list' item.pk %}">Список учасників на старті</a>
</h5>
{% endif %}


<div class="container-fluid " >
{# <div class="row align-items-center gps" ids="{{item.pk}}"> #}
<div class="row map align-items-center" lat="{{item.lat}}" lng="{{item.lng}}">
<div class="col-xs-10" ><h5>Показати місце старту</h5></div>
<div class="col-xs-2 my-auto" style="padding-right: 10px; padding-left: 15px"><img src="/media/images/Map-Markers.ico" alt="" title="Показати місце старту" width="35px" style="vertical-align:middle;" ></img></div>
<br>
<div class="col-xs-12 map_content"></div>
</div>

</div>

{% comment %}
<div class="map row align-items-center" lat="{{item.lat}}" lng="{{item.lng}}">
<img src="/media/images/Map-Markers.ico" alt="" title="Показати місце старту" width="35px" style="vertical-align:middle;" ></img>
<b> Показати місце старту </b>
<br>
<div class="map_content"> </div>
</div>
{% endcomment %}

<p class="meta"><em>{ Опубліковано <a href="#"> {{item.user.username}} </a>, {{item.pub_date}} }</em></p>
{% endfor %}


<div id="map"></div>
{# <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR8YRTxz9xNV1F75RQp1IwKA4Dt6MBUKQ&signed_in=true&callback=initMap"></script> #}
  
	
{% endblock %}

	