<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
#map {
     height: 60%;
}

/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#nav{
	float:left;
	width:100%;
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
}
#nav li{
	float:left;
	margin-right:0px;
	position:relative;
	display:block;
}
#nav li a{
	display:block;
	padding:5px;
	color:#fff;
	background:#333;
	text-decoration:none;
	
	text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#nav li a:hover{
	color:#fff;
	background:#6b0c36;
	background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#nav ul li{
	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
//	background:url(dot.gif);
}
#nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	background:#6b0c36;
	background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#333;
	background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}

.eventcenter {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
height: auto;
}

</style>


<script>
$(document).ready(function(){
//    $("img.poster").hide();
	$("#map").hide();

    $("div.poster").click(function(){
    	var div_p = $(this)
    	var id = $(this).attr("ids")
    	if ($(this).find("b").html() == "Показати афішу") {
    		$(this).find("b").html("Приховати афішу");
    		$(this).find("div.poster_content").html('<img src="'+ div_p.attr("img") + '" width="660px" class="img_poster" id="pimg_'+ id +'">')
    	}
    	else {
    		$(this).find("b").html("Показати афішу")
    		$(this).find("div.poster_content").empty();
    	}
        // $("#pimg_"+id).toggle();
    });


    $("div.gps").click(function(){
    	var gps_c = $(this).find(".gps_content")
    	if ($(this).find("b").html() == "Показати маршрут") {
    		$(this).find("b").html("Приховати маршрут");    	
            $.ajax({
                type: "POST",
                url: "/event/gps/get/",
                data: { eid: $(this).attr("ids") },
                dataType: "json",
                success:function(msg){
//                	$(this).find("div.gps_content").empty();
                	$.each(msg,function(index,item){
						gps_c.html(item['gps_track'])
                    });
                },
                error:function(xhr, ajaxOptions, thrownError){
                    alert( xhr.responseText );
                }
            });
         }
         else {
         	$(this).find("b").html("Показати маршрут")
    	 	gps_c.empty();
         }
    })

	$("div.map").click(function(){
		$(this).find("div.map_content").html($("#map"));
		$("#map").show();
//		initMap($(this).attr("lat"), $(this).attr("lng"));
		initMap();
	})

});

function initMap(x,y) {
	if (x == null){
		x = 50.627250;
	} 
	if (y == null) {
		y = 26.2509700
	}
  var myLatLng = {lat: x, lng: y};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Веломагазин-майстерня Рівело'
  });
}


</script>

<style>
.column {
    float: left;
    padding: 1px;
    box-sizing: border-box;
}
.clearfix {
    content: "";
    clear: both;
    display: table;
    background: #eeeee5; 
	border: 1px dashed #abab9a; 
	padding: 5px; 
	width: 100%;
	box-sizing: border-box;
}
.menu {
    width: 18%;
}
.content {
    width: 82%;
}
</style>

{% block content %}


<br>
 
<div class="clearfix"> 
{% if event.icon %}
  <div class="column menu">	<img src="/media/{{event.icon}}" ></img> </div>
{% endif %}
{% if user.is_authenticated %} 
<div class="column content"><h2><a href="/event/{{event.pk}}/edit/">{{event.name}} [{{event.date|date:"d.m.Y"}}] ({{event.city}})</a></h2></div>
{% else %}
<div class="column content">
<h2><a href="{% url 'event-show' event.pk %}" >{{event.name}} [{{event.date|date:"d.m.Y"}}] ({{event.city}})</a></h2>
</div>
{% endif %}
</div>

<div > 
{% autoescape off %}
{{event.text}}
{% endautoescape %} 
</div>

{% if event.forum_url %}
<br>
<p style="font-weight:bold;">Посилання на форум:  
<a href="{{event.forum_url}}">{{event.forum_url}}</a>
</p>
{% endif %}

{% if event.photo %}
<div class="poster" ids="{{event.pk}}" img="/media/{{event.photo}}">
<!-- 	<button class="poster" ids="{{event.id}}">Показати афішу</button>  -->
	<img src="/media/images/poster-icon.png" alt="" title="Показати афішу" width="48px" style="vertical-align:middle;" ></img>
	<b> Показати афішу </b>
	<div class="poster_content"></div>
</div>
{% endif %} 

{% if event.gps_track %}
<div class="gps" ids="{{event.pk}}">
<img src="/media/images/gps128.png" alt="" title="Показати маршрут" width="48px" style="vertical-align:middle;" ></img>
<b> Показати маршрут </b>
<br>
<div class="gps_content"> </div>
</div>
{% endif %}


<h4> Дата та час: {{event.date|date:"d-m-Yр. H:i"}}</h4>


{% if event.reg_status == True %}
<h4>Реєстрація:  
<a href="{% url 'event-registration' event.pk %}">Перейти до реєстрації</a>
</h4>
<ul class="rules">
<b>Вартість реєстрації:</b>
{% for rule in item.rules.all %}
<li> - {{rule}}
{% if  rule.cur_date_rule %}
<b style="color: red;">*{{rule.cur_date_rule}}</b>
{% endif %}
</li> 
{% endfor %}
* можливість вибрати стартовий номер <b>+5грн</b>
</ul>
<h4>Учасники:  
<a href="/event/{{event.pk}}/registration/list/">Список зареєстрованих учасників</a>
</h4>
{% endif %}

{% if event.reg_url != '' %}
<h4>Реєстрація:  
<a href="{{event.reg_url}}">Перейти до реєстрації</a>
</h4>
{% else %}
{% endif %}

 


<div class="map" lat="{{event.lat}}" lng="{{event.lng}}">
<img src="/media/images/Map-Markers.ico" alt="" title="Показати місце старту" width="35px" style="vertical-align:middle;" ></img>
<b> Показати місце старту </b>
<br>
<div class="map_content"> </div>
</div>

<p class="meta"><em>{ Опубліковано <a href="#"> {{event.user.username}} </a>, {{event.pub_date}} }</em></p>



<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR8YRTxz9xNV1F75RQp1IwKA4Dt6MBUKQ&signed_in=true&callback=initMap"></script>
  
	
{% endblock %}

	