<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% load poll_extras %}

<style>

.event_title {
/*    content: "";
    clear: both;
    display: table; */
    background: #ededed /* #eeeee5 */ ; 
	border: 1px dashed #abab9a; 
	padding: 5px; 
/*	width: 100%; */ 
	box-sizing: border-box;
}

</style>

{% comment %}

<script>
$(document).ready(function(){
//    $("img.poster").hide();
	$("#map").hide();

    $("div.poster").click(function(){
    	var div_p = $(this)
    	var id = $(this).attr("ids")
    	if ($(this).find("b").html() == "Показати афішу") {
    		$(this).find("b").html("Приховати афішу");
    		$(this).find("div.poster_content").html('<img src="'+ div_p.attr("img") + '" width="660px" class="img_poster" id="pimg_'+ id +'">')
    	}
    	else {
    		$(this).find("b").html("Показати афішу")
    		$(this).find("div.poster_content").empty();
    	}
        // $("#pimg_"+id).toggle();
    });


    $("div.gps").click(function(){
    	var gps_c = $(this).find(".gps_content")
    	if ($(this).find("b").html() == "Показати маршрут") {
    		$(this).find("b").html("Приховати маршрут");    	
            $.ajax({
                type: "POST",
                url: "/event/gps/get/",
                data: { eid: $(this).attr("ids") },
                dataType: "json",
                success:function(msg){
//                	$(this).find("div.gps_content").empty();
                	$.each(msg,function(index,item){
						gps_c.html(item['gps_track'])
                    });
                },
                error:function(xhr, ajaxOptions, thrownError){
                    alert( xhr.responseText );
                }
            });
         }
         else {
         	$(this).find("b").html("Показати маршрут")
    	 	gps_c.empty();
         }
    })

	$("div.map").click(function(){
		$(this).find("div.map_content").html($("#map"));
		$("#map").show();
//		initMap($(this).attr("lat"), $(this).attr("lng"));
		initMap();
	})

});


function initMap(x,y) {
	if (x == null){
		x = 50.627250;
	} 
	if (y == null) {
		y = 26.2509700
	}
  var myLatLng = {lat: x, lng: y};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Веломагазин-майстерня Рівело'
  });
}


</script>

{% endcomment %}

<script>
$(document).ready(function(){
//    $("img.poster").hide();
	$("#map").hide();

    $("div.poster").click(function(){
    	var div_p = $(this)
    	var id = $(this).attr("ids")
    	if ($(this).find("h5").html() == "Показати афішу") {
    		$(this).find("h5").html("Приховати афішу");
    		$(this).find("div.poster_content").html('<img src="'+ div_p.attr("img") + '" class="img_poster" id="pimg_'+ id +'">')
    	}
    	else {
    		$(this).find("h5").html("Показати афішу")
    		$(this).find("div.poster_content").empty();
    	}
        // $("#pimg_"+id).toggle();
    });


    $("div.gps").click(function(){
    	var gps_c = $(this).find(".gps_content")
    	if ($(this).find("h5").html() == "Показати маршрут") {
    		$(this).find("h5").html("Приховати маршрут");    	
            $.ajax({
                type: "POST",
                url: "/event/gps/get/",
                data: { eid: $(this).attr("ids") },
                dataType: "json",
                success:function(msg){
                	$.each(msg,function(index,item){
						gps_c.html(item['gps_track'])
						console.log("GPS TRACK = " + item['gps_track'])
                    });
                },
                error:function(xhr, ajaxOptions, thrownError){
                    alert( xhr.responseText );
                }
            });
         }
         else {
         	$(this).find("h5").html("Показати маршрут")
    	 	gps_c.empty();
         }
    })

	$("div.map").click(function(){
		console.log("MAP click")
		$(this).find("div.map_content").html($("#map"));
		$("#map").show();
//		initMap($(this).attr("lat"), $(this).attr("lng"));
		initMap();
	})

});

function initMap(x,y) {
	if (x == null){
		x = 50.627250;
	} 
	if (y == null) {
		y = 26.2509700
	}
  var myLatLng = {lat: x, lng: y};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 17,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Веломагазин-майстерня Рівело'
  });
}


</script>

{% block content %}


<div class="container-fluid " >
<div class="row event_title align-items-center poster" >
<div class="col-2 my-auto" style="padding-left: 0px;">
{% if event.icon %}
  <img class="img-thumbnail" src="/media/{{event.icon}}" height="120px" width="120px"></img>	
{% endif %}
</div>

<div class="col-10">
<h2>
{% if user.is_authenticated and user|has_group:"moder" %}
<a href="{% url 'event-show' event.pk %}">
{% else %}
<a href="#" style="pointer-events: none; ">
{% endif %}
{{event.name}} [{{event.date|date:"d.m.Y"}}] 
{% if event.city %}
({{event.city}})
{% endif %}
</a> 

{% if user.is_authenticated and user|has_group:"moder" %}
<a href="/event/{{event.pk}}/edit/" title="Редагувати" style="color:gray;"> <i class="material-icons">create</i></a> 
{% endif %}
</h2>
</div>

</div>

<div class="row h-100" >
<div class="col-12"> 
{% autoescape off %}
{{event.text}}
{% endautoescape %} 
</div>
</div>

{% if user.is_authenticated and user|has_group:"moder" %}
<h5>
<a type="button" class="btn btn-info btn-lg" style="font-size: 14px" href="{% url 'events_sale' 'rivno100' %}">Список товарів</a>
</h5>
{% endif %}

<div class="row h-100" >
{# <div class="col-12"> #} 

{% if event.forum_url %}
<h5>Посилання на форум:
<small> <a href="{{event.forum_url}}">{{event.forum_url}}</a> </small>
</h5>
{% endif %}

{#</div>#}
</div>


{% if event.photo %}
        <div class="row align-items-center poster" ids="{{event.pk}}" img="/media/{{event.photo}}">
            <div class="col-xs-10" ><h5>Показати афішу</h5></div>
            <div class="col-xs-2 my-auto" style="padding-right: 10px; padding-left: 15px"><img src="/media/images/poster-icon.png" class="img-responsive" alt="Афіша" width="48px"></div>            
            <div class="col-xs-12 poster_content"></div>
        </div>
{% endif %} 




{# [start-custom format='Ymd\\THi00\\Z']/[end-custom format='Ymd\\THi00\\Z'] #}


<div class="row align-items-center poster" ids="{{event.pk}}" img="/media/{{event.photo}}">
<h5> Додати подію в календар
<a href="http://www.google.com/calendar/event?
action=TEMPLATE
&text=Рівно100
&dates=20180513/20180514
&details=Веломарафон+Рівно100
&location=Рівне+Рівненська+область
&sprop=rivelo.com.ua
&trp=false&sprop=&sprop=name:
"
target="_blank" rel="nofollow">Add to Calendar</a>
</h5>
</div>


{% if event.gps_track %}
<div class="row align-items-center gps" ids="{{event.pk}}">
<div class="col-xs-10" ><h5>Показати маршрут</h5></div>
<div class="col-xs-2 my-auto" style="padding-right: 10px; padding-left: 15px"><img src="/media/images/gps128.png" alt="" title="Показати маршрут" width="48px" style="vertical-align:middle;" ></img></div>
<br>
<div class="col-xs-12 gps_content"></div>
</div>
{% endif %}

<div class="row h-100" >
<h5> Дата та час: {{event.date|date:"d-m-Yр. H:i"}} <small class="text-danger"> (До заходу залишилось {{event.days_left}} днів)</small></h5>
</div>


</div> {# end container #}

{% if event.reg_status == True %}
<h5>Реєстрація:  
{% if event.days_left == 0 %}
<a href="{% url 'event-registration' event.pk %}" class="btn btn-success btn-lg disabled"><h4> Перейти до реєстрації </h4><span class="text-white">Реєстрацію завершено</span></a>
{% else %}
<a href="{% url 'event-registration' event.pk %}" class="btn btn-success btn-lg"><h4> Перейти до реєстрації </h4></a>
{% endif %}
</h5>
<ul class="rules">
<b>Вартість реєстрації:</b>
{% for rule in event.rules.all %}
<li> - {{rule}}
{% if  rule.cur_date_rule %}
<b style="color: red;">*{{rule.cur_date_rule}}</b>
{% endif %}
</li> 
{% endfor %}
* можливість вибрати стартовий номер <b>+5грн</b>
</ul>

<h5>Учасники:  
<a href="/event/{{event.pk}}/registration/list/" type="button" class="btn btn-success btn-lg" style="font-size: 14px">
  Список зареєстрованих учасників: <span class="badge badge-light btn-lg" style="font-size: 20px">{{event.riders_count}}</span> чоловік
</a>
{% if user.is_authenticated and user|has_group:"moder" %}
<a type="button" class="btn btn-info btn-lg" style="font-size: 14px" href="{% url 'event-start-list' event.pk %}">Стартовий протокол</a>
<a type="button" class="btn btn-secondary btn-lg" style="font-size: 14px" href="{% url 'download-csv' event.pk %}">Завантажити CSV файл</a>

{% endif %}
</h5>

{% endif %}

{% if event.reg_url != '' %}
<h5>Реєстрація:  
<a href="{{event.reg_url}}">Перейти до реєстрації</a>
</h5>
{% else %}
{% endif %}

{% if event.result_present %} 
<h5>Результати:  
<a class="btn btn-info" style="font-size: 18px" href="{% url 'event-result' event.pk %}">Результати</a>
</h5>
{% endif %}

{% if user.is_authenticated and user|has_group:"moder" %}
<a type="button" class="btn btn-warning" href="{% url 'event-result-light-admin' id=event.pk  point='kp1' %}"><<Проста версія КП1>></a>  
<a type="button" class="btn btn-warning" href="{% url 'event-result-light-admin' id=event.pk point='kp2' %}"><<Проста версія КП2>></a>  
<a type="button" class="btn btn-warning" href="{% url 'event-result-light-admin' id=event.pk point='kp3' %}"><<Проста версія КП3>></a>  
<a type="button" class="btn btn-warning" href="{% url 'event-result-light-admin' id=event.pk point='finish' %}"><<Проста версія Finish>></a> <br><br>
{% endif %} 

<div class="container-fluid " >
<div class="row map align-items-center" lat="{{event.lat}}" lng="{{event.lng}}">
<div class="col-xs-10" ><h5>Показати місце старту</h5></div>
<div class="col-xs-2 my-auto" style="padding-right: 10px; padding-left: 15px"><img src="/media/images/Map-Markers.ico" alt="" title="Показати місце старту" width="35px" style="vertical-align:middle;" ></img></div>
<br>
<div class="col-xs-12 map_content"></div>
</div>

</div>

{% comment %}
<div class="map row align-items-center" lat="{{item.lat}}" lng="{{item.lng}}">
<img src="/media/images/Map-Markers.ico" alt="" title="Показати місце старту" width="35px" style="vertical-align:middle;" ></img>
<b> Показати місце старту </b>
<br>
<div class="map_content"> </div>
</div>
{% endcomment %}

<p class="meta"><em>{ Опубліковано <a href="#"> {{event.user.username}} </a>, {{event.pub_date}} }</em></p>


<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR8YRTxz9xNV1F75RQp1IwKA4Dt6MBUKQ&signed_in=true&callback=initMap"></script> 
  

{% comment %}
<br>
 
<div class="clearfix"> 
{% if event.icon %}
  <div class="column menu">	<img src="/media/{{event.icon}}" ></img> </div>
{% endif %}
{% if user.is_authenticated %} 
<div class="column content"><h2><a href="/event/{{event.pk}}/edit/">{{event.name}} [{{event.date|date:"d.m.Y"}}] ({{event.city}})</a></h2></div>
{% else %}
<div class="column content">
<h2><a href="{% url 'event-show' event.pk %}" >{{event.name}} [{{event.date|date:"d.m.Y"}}] ({{event.city}})</a></h2>
</div>
{% endif %}
</div>

<div > 
{% autoescape off %}
{{event.text}}
{% endautoescape %} 
</div>

{% if event.forum_url %}
<br>
<p style="font-weight:bold;">Посилання на форум:  
<a href="{{event.forum_url}}">{{event.forum_url}}</a>
</p>
{% endif %}

{% if event.photo %}
<div class="poster" ids="{{event.pk}}" img="/media/{{event.photo}}">
<!-- 	<button class="poster" ids="{{event.id}}">Показати афішу</button>  -->
	<img src="/media/images/poster-icon.png" alt="" title="Показати афішу" width="48px" style="vertical-align:middle;" ></img>
	<b> Показати афішу </b>
	<div class="poster_content"></div>
</div>
{% endif %} 

{% if event.gps_track %}
<div class="gps" ids="{{event.pk}}">
<img src="/media/images/gps128.png" alt="" title="Показати маршрут" width="48px" style="vertical-align:middle;" ></img>
<b> Показати маршрут </b>
<br>
<div class="gps_content"> </div>
</div>
{% endif %}


<h4> Дата та час: {{event.date|date:"d-m-Yр. H:i"}} <p style="color: grey; font-size:11px">*До заходу залишилось {{event.days_left}} днів</p> </h4>


{% if event.reg_status == True %}
<h4>Реєстрація:  
<a href="{% url 'event-registration' event.pk %}">Перейти до реєстрації</a>
</h4>
<ul class="rules">
<b>Вартість реєстрації:</b>
{% for rule in event.rules.all %}
<li> - {{rule}}
{% if  rule.cur_date_rule %}
<b style="color: red;">*{{rule.cur_date_rule}}</b>
{% endif %}
</li> 
{% endfor %}
* можливість вибрати стартовий номер <b>+5грн</b>
</ul>
<h4>Учасники:  
<a href="/event/{{event.pk}}/registration/list/">Список зареєстрованих учасників >>> ({{event.riders_count}} чоловік)</a> 
</h4>
{% endif %}

{% if event.reg_url != '' %}
<h4>Реєстрація:  
<a href="{{event.reg_url}}">Перейти до реєстрації</a>
</h4>
{% else %}
{% endif %}

{% if user.is_authenticated %}
<a href="{% url 'event-result-light' event.pk %}">Відмітка на КП/Фініші</a>
{% endif %} 
<h4>Результати:  
<a href="{% url 'event-result' event.pk %}">Результати</a>
</h4>

<div class="map" lat="{{event.lat}}" lng="{{event.lng}}">
<img src="/media/images/Map-Markers.ico" alt="" title="Показати місце старту" width="35px" style="vertical-align:middle;" ></img>
<b> Показати місце старту </b>
<br>
<div class="map_content"> </div>
</div>


<p class="meta"><em>{ Опубліковано <a href="#"> {{event.user.username}} </a>, {{event.pub_date}} }</em></p>



<div id="map"></div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR8YRTxz9xNV1F75RQp1IwKA4Dt6MBUKQ&signed_in=true&callback=initMap"></script>
{% endcomment %}  
	
{% endblock %}

	