<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
<script src="/media/jquery.dataTables.min.js"></script>


<style>
</style>


<script>
$(document).ready(function(){
//    $("img.poster").hide();
	// all rider list
    var rtable = $('#rtable').DataTable({
    	"lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
    	
    });
    
	rtable.column(7).visible(false);
	rtable.column(-1).visible(false);
	rtable.column(-2).visible(false);
	rtable.column(-3).visible(false);

{% if user.is_authenticated %}
	$('#rtable_length').append('<div class="cdiv" style="float:right; padding-left:10px;"><a class="toggle-vis" data-column="7">Велосипед</a></div>');
	$('#rtable_length').append('<div class="cdiv" style="float:right; padding-left:10px;"><a class="toggle-vis" data-column="8">Номер</a></div>');
	$('#rtable_length').append('<div class="cdiv" style="float:right; padding-left:10px;"><a class="toggle-vis" data-column="10">Статус</a></div>');
{% endif %}	
	$('#rtable_length').append('<div class="cdiv" style="float:right; padding-left:10px;"><span id="sex_rider" val="2"><img id="rman" src="/media/images/male-icon_35.png" height="20" alt="Чоловіки" title="Чоловіки"></img><img id="rwom" src="/media/images/female-icon_35.png" height="20" alt="Жінки" title="Жінки"></span></div>');

    
    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();
         // Get the column API object
        var column = rtable.column( $(this).attr('data-column') );
         // Toggle the visibility
        column.visible( ! column.visible() );
    } );
    
 $("body").on('click', '#sex_rider', function() {
	var status = $('#sex_rider').attr('val')
	if ( status == 2) {
		$('#sex_rider').attr('val', 1);
		$('#rwom').hide()
		$('#rman').show();
		$.fn.dataTableExt.afnFiltering.push(
        function(oSettings, aData, iDataIndex) {
           //Only shows columns with a COUNT > 0
           var engineColumn = parseInt(aData[9]);
           if (engineColumn == 1)
               return true;
           return false;
        });
 		rtable.draw();
	}
	if ( status == 1) {
		$('#sex_rider').attr('val', 0);
		$('#rwom').show();
		$('#rman').hide()
		$.fn.dataTableExt.afnFiltering.pop();		
		$.fn.dataTableExt.afnFiltering.push(
        function(oSettings, aData, iDataIndex) {
           var engineColumn = parseInt(aData[9]);
           if (engineColumn == 0)
               return true;
           return false;
        });
 		rtable.draw();
	}
	if ( status == 0) {
		$('#sex_rider').attr('val', 2);
		$('#rwom').show();
		$('#rman').show();
		$.fn.dataTableExt.afnFiltering.pop();				
		$.fn.dataTableExt.afnFiltering.pop();
 		rtable.draw();
	}
	
 });    
    
    
    $('#table_cat1').DataTable({
    	"lengthMenu": [[15, 50, 100, -1], [15, 50, 100, "All"]]
    });

    $('#table_cat2').DataTable({
    	"lengthMenu": [[15, 50, 100, -1], [15, 50, 100, "All"]]
    });

    $('#table_cat3').DataTable({
    	"lengthMenu": [[15, 50, 100, -1], [15, 50, 100, "All"]]
    });

    $('#table_cat4').DataTable({
    	"lengthMenu": [[15, 50, 100, -1], [15, 50, 100, "All"]]
    });

    $('#table_cat5').DataTable({
    	"lengthMenu": [[15, 50, 100, -1], [15, 50, 100, "All"]]
    });
    
});

</script>

{% block content %}

{% if user.is_authenticated %}
{% endif %}

<br>
<div style="width:560px; float:left;">
<h2 class="title"> Список зареєстрованих учасників <br>{{event.name}} </h2>
<h3 style="color: grey; ">До заходу залишилось {{event.days_left}} днів </h3>
<div style="margin: 0px 0px 20px 0px;"><a class="register" href="/event/{{event.pk}}/registration/" style="font-size: 16; color: red;">Зареєструватись >>></a> *Реєстрація на сьогодні вартує {{event.cur_reg_sum}} гривень</div>
</div>
<div style="float:right;">
	{% if event.icon %}
	<img src="/media/{{event.icon}}" />
	{% endif %} 
</div>

<table id="rtable" class="display" cellspacing="0" width="100%">
<thead>
<tr>
<th>№</th>
<th>Ім'я / Прізвище</th>
<th>Нік</th>
<th title="Стать">С</th>
<th>Місто</th>
<th>Команда</th>
<th>Рік нар.</th>
<th>Велосипед</th>
<th>Стартовий номер</th>
<th>Стать</th>
<th>Статус</th>
</tr>
</thead>
<tbody>
{% for rider in list %}
{% if rider.status == True and rider.pay > 0 %}
<tr style="color: green; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay > 0 %}
<tr style="color: black; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay == 0 %}
<tr style="color: grey">
{% endif %}


<td>{{forloop.counter}}</td>
<td>{{rider.fname}} {{rider.lname}}</td>
<td>{{rider.nickname}}</td>
<td align="center">
{% if rider.sex = 1 %}
	<img src="/media/images/male-icon_35.png" height="20" alt="Чоловік" title="Чоловік"></img>
{% else %}
	<img src="/media/images/female-icon_35.png" height="20" alt="Жінка" title="Жінка"></img>
{% endif %}
</td>
<td>{{rider.city}}</td>
<td>{{rider.club}}</td>
<td align="center">{{rider.birthday|date:"Y"}}</td>
<td align="center">{{rider.bike_type.name}}</td>
<td align="center">{{rider.start_number}}</td>
<td align="center">{{rider.sex}}</td>
<td align="center">{{rider.status}}</td>
</tr>
{% endfor %}
</tbody>  
</table>	


<br>
<h2>Категорія 18-29 років</h2> 
<table id="table_cat1" class="display" cellspacing="0" width="100%">
<thead>
<tr>
<th>№</th>
<th>Прізвище</th><th>Імя</th>
<th>Нік</th>
<th title="Стать">C</th>
<th>Місто</th>
<th>Команда</th>
<th>Рік народження</th>
</tr>
</thead>
<tbody>
{% for rider in cat1 %}
{% if rider.status == True and rider.pay > 0 %}
<tr style="color: green; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay > 0 %}
<tr style="color: black; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay == 0 %}
<tr style="color: grey">
{% endif %}
<td>{{forloop.counter}}</td>
<td>{{rider.lname}}</td>
<td>{{rider.fname}}</td>
<td>{{rider.nickname}}</td>
<td align="center">
{% if rider.sex = 1 %}
	<img src="/media/images/male-icon_35.png" height="20" alt="Чоловік" title="Чоловік"></img>
{% else %}
	<img src="/media/images/female-icon_35.png" height="20" alt="Жінка" title="Жінка"></img>
{% endif %}
</td>
<td>{{rider.city}}</td>
<td>{{rider.club}}</td>
<td align="center">{{rider.birthday|date:"Y"}}</td>
</tr>
{% endfor %}
</tbody>  
</table>	


<br>
<h2>Категорія 30-39 років</h2> 
<table id="table_cat2" class="display" cellspacing="0" width="100%">
<thead>
<tr>
<th>№</th>
<th>Прізвище</th><th>Імя</th>
<th>Нік</th>
<th title="Стать">C</th>
<th>Місто</th>
<th>Команда</th>
<th>Рік народження</th>
</tr>
</thead>
<tbody>
{% for rider in cat2 %}
{% if rider.status == True and rider.pay > 0 %}
<tr style="color: green; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay > 0 %}
<tr style="color: black; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay == 0 %}
<tr style="color: grey">
{% endif %}
<td>{{forloop.counter}}</td>
<td>{{rider.lname}}</td>
<td>{{rider.fname}}</td>
<td>{{rider.nickname}}</td>
<td align="center">
{% if rider.sex = 1 %}
	<img src="/media/images/male-icon_35.png" height="20" alt="Чоловік" title="Чоловік"></img>
{% else %}
	<img src="/media/images/female-icon_35.png" height="20" alt="Жінка" title="Жінка"></img>
{% endif %}
</td>
<td>{{rider.city}}</td>
<td>{{rider.club}}</td>
<td align="center">{{rider.birthday|date:"Y"}}</td>
</tr>
{% endfor %}
</tbody>  
</table>	

<br>
<h2>Категорія 40-49 років</h2> 
<table id="table_cat3" class="display" cellspacing="0" width="100%">
<thead>
<tr>
<th>№</th>
<th>Прізвище</th><th>Імя</th>
<th>Нік</th>
<th title="Стать">C</th>
<th>Місто</th>
<th>Команда</th>
<th>Рік народження</th>
</tr>
</thead>
<tbody>
{% for rider in cat3 %}
{% if rider.status == True and rider.pay > 0 %}
<tr style="color: green; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay > 0 %}
<tr style="color: black; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay == 0 %}
<tr style="color: grey">
{% endif %}
<td>{{forloop.counter}}</td>
<td>{{rider.lname}}</td>
<td>{{rider.fname}}</td>
<td>{{rider.nickname}}</td>
<td align="center">
{% if rider.sex = 1 %}
	<img src="/media/images/male-icon_35.png" height="20" alt="Чоловік" title="Чоловік"></img>
{% else %}
	<img src="/media/images/female-icon_35.png" height="20" alt="Жінка" title="Жінка"></img>
{% endif %}
</td>
<td>{{rider.city}}</td>
<td>{{rider.club}}</td>
<td align="center">{{rider.birthday|date:"Y"}}</td>
</tr>
{% endfor %}
</tbody>  
</table>	

<br>
<h2>Категорія 50-59 років</h2> 
<table id="table_cat4" class="display" cellspacing="0" width="100%">
<thead>
<tr>
<th>№</th>
<th>Прізвище</th><th>Імя</th>
<th>Нік</th>
<th title="Стать">C</th>
<th>Місто</th>
<th>Команда</th>
<th>Рік народження</th>
</tr>
</thead>
<tbody>
{% for rider in cat4 %}
{% if rider.status == True and rider.pay > 0 %}
<tr style="color: green; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay > 0 %}
<tr style="color: black; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay == 0 %}
<tr style="color: grey">
{% endif %}
<td>{{forloop.counter}}</td>
<td>{{rider.lname}}</td>
<td>{{rider.fname}}</td>
<td>{{rider.nickname}}</td>
<td align="center">
{% if rider.sex = 1 %}
	<img src="/media/images/male-icon_35.png" height="20" alt="Чоловік" title="Чоловік"></img>
{% else %}
	<img src="/media/images/female-icon_35.png" height="20" alt="Жінка" title="Жінка"></img>
{% endif %}
</td>
<td>{{rider.city}}</td>
<td>{{rider.club}}</td>
<td align="center">{{rider.birthday|date:"Y"}}</td>
</tr>
{% endfor %}
</tbody>  
</table>	

<br>
<h2>Категорія 60+ років</h2> 
<table id="table_cat5" class="display" cellspacing="0" width="100%">
<thead>
<tr>
<th>№</th>
<th>Прізвище</th><th>Імя</th>
<th>Нік</th>
<th title="Стать">C</th>
<th>Місто</th>
<th>Команда</th>
<th>Рік народження</th>
</tr>
</thead>
<tbody>
{% for rider in cat5 %}
{% if rider.status == True and rider.pay > 0 %}
<tr style="color: green; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay > 0 %}
<tr style="color: black; font-weight:bold;">
{% endif %}
{% if rider.status == False and rider.pay == 0 %}
<tr style="color: grey">
{% endif %}
<td>{{forloop.counter}}</td>
<td>{{rider.lname}}</td>
<td>{{rider.fname}}</td>
<td>{{rider.nickname}}</td>
<td align="center">
{% if rider.sex = 1 %}
	<img src="/media/images/male-icon_35.png" height="20" alt="Чоловік" title="Чоловік"></img>
{% else %}
	<img src="/media/images/female-icon_35.png" height="20" alt="Жінка" title="Жінка"></img>
{% endif %}
</td>
<td>{{rider.city}}</td>
<td>{{rider.club}}</td>
<td align="center">{{rider.birthday|date:"Y"}}</td>

</tr>
{% endfor %}
</tbody>  
</table>	

{% endblock %}

	