<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="/media/css/forms.css" rel="stylesheet" type="text/css" media="screen" />
 
<script>
$(document).ready(function(){

$("#id_event").attr('disabled', 'disabled'); // disable select event_list

phone_f = $("#id_phone").parents('li');
$("#gaddr").insertAfter(phone_f);
$("#id_birthday_month").insertAfter($("#id_birthday_day"));
$("#id_city").parents("li").attr("style", "display: none");
$("#id_country").parents("li").attr("style", "display: none");

$("#id_pay_time").parents("li").insertAfter($("#pay_datepicker").parents("li"));

if (!navigator.cookieEnabled) {
  alert( 'Увімкніть cookie для комфортної роботи з цим сайтом' );
}
     
    //var autocomplete = new google.maps.places.Autocomplete(document.getElementById('city_google'), {types: ['(regions)'], componentRestrictions: {country: 'ua'}, language : 'ua', location : ['50.627250', '26.2509700'], radius: '1000000' });
//    var autocomplete = new google.maps.places.Autocomplete(document.getElementById('adr'), { types: ['(cities)']});

{% if google_city_off %}
var currentDate = new Date();  
    $( "#pay_datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      showOn: "button",
      buttonImage: "/media/images/calendar16_15.gif",
      buttonImageOnly: true,
      buttonText: "Виберіть дату",
      dateFormat: "dd.mm.yy",
      minDate: "-1Y", 
      maxDate: "+2Y",
      setDate: new Date()
    });
{% endif %}    


$( "#serch_rider" ).click(function() {
		$.ajax({
        type: "POST",
        url: "/rider/registration/search/",
        data: {email:  $('#email').val(), phone: $('#phone').val() },
        //dataType: "json",
        success:function(data){
        	$("#search_footer").show()
        	$("#res_footer").empty();
        	if (data[0] == '0') {
        		$("#res_footer").html("" + data[1]);
        	}
        	else {
        		$("#res_footer").html("Знайдено email учасника " + data[1][1] + " - <span class='badge badge-info'><h6>" + data[1][0] + "</h6></span>");
        		$("#reg_rider").show()
        	}
//        	console.log("Результат = " + data);
        },
        error:function(data){
            alert("Виникла помилка:" + data[1]);
        }
    	});

});



}); 

var placeSearch, autocomplete;

function setAutocompleteCountry() {
	var country = document.getElementById('country').value;
  	autocomplete.setComponentRestrictions({'country': country});
}

function initAutocomplete() {
  // Create the autocomplete object, restricting the search to geographical
  // location types.
  autocomplete = new google.maps.places.Autocomplete(
      /* @type {!HTMLInputElement} */ (document.getElementById('city_google')),
      {types: ['geocode'], componentRestrictions: {country: 'ua'}, language : 'uk'});

  // When the user selects an address from the dropdown, populate the address
  // fields in the form.
  autocomplete.addListener('place_changed', fillInAddress);
  
  document.getElementById('country').addEventListener('change', setAutocompleteCountry);
}


function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

    document.getElementById('id_city').value = '';
    document.getElementById('id_city').disabled = false;
	
  for (var i = 0; i < place.address_components.length; i++) {
    var addressType = place.address_components[i].types[0];
    console.log("addrType = " + addressType);
    if (addressType == 'country' ) {
    	console.log("Country = " + place.address_components[i]['long_name']);
		var val = place.address_components[i]['long_name'];
		document.getElementById('id_country').value = val;
    }
    if (addressType == 'locality' ) {
		console.log("City = " + place.address_components[i]['long_name']);    
		var val = place.address_components[i]['long_name'];
		document.getElementById('id_city').value = val;
    }
  }
//  autocomplete.setComponentRestrictions({'country': 'pl'});

}
</script>

<style>
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#city_google {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 0px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 100%;
}
<!--
.form-style-1 > span:visited{ text-decoration:none; color:black; }
.form-style-1 > span:hover{ text-decoration:underline; color:#293d6b; }
.form-style-1 > span {color:black; cursor: pointer; }
-->

ul.rules {
    list-style-type: square;
}

.errorlist {
        background-color: #fffb9b;
        color: red;
        display: block;
        font-size: 14px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>

{% block content %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Реєстрація на {{event.name}} для учасників минулорічних заходів</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<div class="modal-body">
  <form action="/rider/registration/{{event.pk}}/send/" method="post" id="rsearch_form">
  	{% csrf_token %}

  <div class="form-group">
    <label for="exampleInputEmail1">E-mail користувача</label>
    <input type="text" class="form-control" name="email" id="email" aria-describedby="LoginHelp" placeholder="Введіть E-mail користувача">
    <small id="emailHelp" class="form-text text-muted">Введіть адресу електронної пошти з якою ви реєструвались на минулі заходи rivelo.com.ua</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Телефон користувача</label>
    <input type="text" class="form-control" name="phone" id="phone" aria-describedby="LoginHelp" placeholder="Введіть телефон користувача у форматі +380XX1234567">
    <small id="emailHelp" class="form-text text-muted">Введіть у міжародному форматі з яким ви реєструвались на минулі заходи rivelo.com.ua</small>
  </div>
  <button type="button" class="btn btn-success" id="serch_rider">Пошук</button>
    <input type="hidden" name="next" value="{{ next|escape }}" />

</div> 
<div class="modal-footer" id="search_footer" style="display: none;">
<p id="res_footer" style="font-weight: bold;">
</p>
<button type="submit" class="btn btn-success" id="reg_rider" style="display: none;">Зареєструватись на <br> {{event.name}}</button>
</div>
	</form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="post">

<div>
<h2 class="title" >Реєстрація на {{event.name}}
	{% if event.icon %}
	<img src="/media/{{event.icon}}" style="float:right; object-fit: contain; max-width: 100px;" />
	{% endif %}
{% if google_city_off == false %}
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
  Я приймав участь в минулорічних заходах
</button>
{% endif %}	 
</h2>
{% if google_city_off %} 
<h3 class="title" style="color:black; font-size: 18; float:left;">Заповніть дані про оплату</h3>
{% endif %}	
</div>


<div style="width:100%; float:none; clear:both;">
<form action="" method="POST" enctype="multipart/form-data" class="form-style-1">
{% csrf_token %}
		<ul>
{% if rider_name %}
<li>
<h3 style="float:none;">{{rider_name}}</h3>
</li>
<li>
<ul class="rules">
<b>Вартість реєстрації:</b>
{% for rule in event_rules %}
<li> - {{rule}}
{% if  rule.cur_date_rule %}
<b style="color: red;">*{{rule.cur_date_rule}}</b>
{% endif %}
</li> 
{% endfor %}
* можливість вибрати стартовий номер <b>+5грн</b>
</ul>
</li>
{% endif %}
            {{ form.as_ul }}
        </ul>

{% if google_city_off %}        
<div id="gaddr" style="display: none;">
{% else %}
<div id="gaddr">
{% endif %}
<li>
<label>Країна</label>
      <select id="country">
        <option value="ua">Ukraine</option>
        <option value="pl">Poland</option>
        <option value="by">Belarus</option>
        <option value="hu">Hungary</option>
        <option value="sk">Slovakia</option>
        <option value="ro">Romania</option>
        <option value="md">Moldova</option>
        <option value="ru">Russia</option>
        <option value="pt">Portugal</option>
      </select>
</li>      
<label>Місто</label> 
<input id="city_google" type="text" value="" size="105" placeholder="Введіть населений пункт">
<!-- 
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR8YRTxz9xNV1F75RQp1IwKA4Dt6MBUKQ&libraries=places&callback=initAutocomplete&language=ua" async defer></script>
&region=UA -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDR8YRTxz9xNV1F75RQp1IwKA4Dt6MBUKQ&libraries=places&callback=initAutocomplete&language=uk"></script>

</div>        
        <br>
        <br>
        <div class="g-recaptcha" data-sitekey="6LeptAUTAAAAAJSG6xhkRW1hSxCPvBBd5Xo4H045"></div>
        <input type="submit" value="Зареєструватись">
</form>

</div>

</div>

{% endblock %}

<script src='https://www.google.com/recaptcha/api.js?hl=ua'></script>


