<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{% load poll_extras %}

<div class="container-fluid">
    <div class="card-deck">

{% for item in news.object_list %}
        <div class="card m-2">

	{% if user|has_group:"moder" %}
<div class="dropdown">
		<div class="card-header dropdown-toggle" id="dropdownMenuEditButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ><h4 class="card-title">{{item.title}}</h4></div>

<div class="dropdown-menu" aria-labelledby="dropdownMenuEditButton">
	<a class="dropdown-item" href="/news/{{item.pk}}/edit/">Редагувати</a>
	<a class="dropdown-item" href="/news/add/">Створити</a>
	<a class="dropdown-item" href="/news/{{item.pk}}/delete/">Видалити</a>
</div>
</div>
	{% else %}
					<div class="card-header" id="dropdownMenuEditButton"><h4 class="card-title">{{item.title}}</h4></div>
	{% endif %}
	
    {% if item.img_url %}
            <img class="card-img-top img-fluid" src="{{item.img_url}}" alt="Card image cap">
	{% endif %}            


        <div class="card-body">

{#			<h4 class="card-title">{{item.title}}</h4> #}		
                <p class="card-text">
                {% autoescape off %}
				{{item.text}}
				{% endautoescape %}
				</p>			
				
            </div>
			<div class="card-footer">
      			<p class="links"><a href="#" class="comments">Comments (0)</a> &nbsp;&nbsp;&nbsp; <a href="{{item.link}}" class="permalink">Посилання на форум/facebook</a> &nbsp;&nbsp;&nbsp; Категорія: <a href="#" class="permalink">{{item.category}}</a>
      			<br>
                { Опубліковано <a href="#"> {{item.user.username}} </a>, {{item.date}} }</p>
    		</div>            
        </div>


    <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
	<div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
	<div class="w-100 d-none d-lg-block d-xl-none"><!-- wrap every 4 on lg--></div>
	        
{% if forloop.counter|divisibleby:"2" %}
	<div class="w-100 d-none d-xl-block"><!-- wrap every 5 on xl--></div>
{% endif %}
{% endfor %}

       
    </div>
</div>

{% comment %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<style>
/*------------------------------------*\
	НАВИГАЦИЯ
\*------------------------------------*/
#nav{
	float:left;
	width:100%;
	list-style:none;
	font-weight:bold;
	margin-bottom:10px;
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
	display:block;
	
}
#nav li a{
	display:block;
	padding:5px;
	color:#fff;
	background:#333;
	text-decoration:none;
	
	text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Тень текста, чтобы приподнять его на немного */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}
#nav li a:hover{
	color:#fff;
	background:#6b0c36;
	background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}

/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#nav ul li{
	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
//	background:url(dot.gif);
}
#nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	background:#6b0c36;
	background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#333;
	background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}

</style>



{% for item in news.object_list %}
		<div class="post">
		{% if user.is_authenticated %}
		<ul id="nav">
		<li>
			<h2 class="title"><a href="#">{{item.title}}</a></h2>
		<ul>
			<li><a href="/news/{{item.pk}}/edit/">Редагувати</a></li>
			<li><a href="/news/add/">Створити</a></li>
			<li><a href="/news/{{item.pk}}/delete/">Видалити</a></li>
		</ul>
		</li>
		</ul>
		{% else %}
			<h2 class="title">{{item.title}}</h2>		
		{% endif %}
            <p class="meta"><em>{ Опубліковано <a href="#"> {{item.user.username}} </a>, {{item.date}} }</em></p>
			<div class="entry">
			{% autoescape off %}
				{{item.text}}
			{% endautoescape %}
				<p class="links"><a href="#" class="comments">Comments (0)</a> &nbsp;&nbsp;&nbsp; <a href="{{item.link}}" class="permalink">Посилання на форум</a> &nbsp;&nbsp;&nbsp; Категорія:<a href="#" class="permalink">{{item.category}}</a></p>
			</div>
		</div>
{% endfor %}

{% endcomment %}

<div class="pagination">
  <ul>
  	{% if news.has_previous %}
        <li class="prev">
            <a href="?page={{ news.previous_page_number }}">&larr; Previous</a>
        </li>
    {% else %}
    <li class="prev disabled">
            <a href="?page={{ news.number }}">&larr; Previous</a>
    </li>
    {% endif %}
    
<!--     <li class="disabled"><a href="">Page {{ news.number }} of {{ news.paginator.num_pages }}.</a></li>
 -->

    {% for i in news.paginator.page_range %}
    {% ifequal i  news.number%}
    <li class="active"><a href="">{{ i }}.</a></li>
    {% else %}
    <li class="disabled"><a href="?page={{ i }}">{{ i }}.</a></li>
    {% endifequal %}
    {% endfor %}   
    
    {% if news.has_next %}
        <li class="next">
            <a href="?page={{ news.next_page_number }}">Next &rarr;</a>
        </li>
    {% else %}
    <li class="next disabled">
            <a href="?page={{ news.number }}">Next &rarr;</a>
     </li>    
    {% endif %}
  </ul>
</div>
