<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />




{% comment %}
<style>
#primary_nav_wrap
{
	margin-top:5px
}

#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	z-index: 5;
}

#primary_nav_wrap ul a
{
	display:block;
//	color:#333;
	text-decoration:none;
//	font-weight:700;
	font-size:16px;
	line-height:32px;
	padding:0 15px;
//	font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif
	z-index: 5;
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;
	margin:0;
	padding:0
	
}

#primary_nav_wrap ul li.current-menu-item
{
	background:#3fb54b
}

#primary_nav_wrap ul li:hover
{
	 background:#32a006;
//	 #f6f6f6;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
//	background:#fff;
	background:green;
	padding:0
	z-index: 5;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}


.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 500px) {
    .dropdown-menu{
          height:200px;
          overflow-y:auto;
       }
    }


</style>
{% endcomment %}


<style>
.dropdown-menu {
    max-height: 500px;
    max-width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

</style>



<a class="navbar-brand d-md-none" href="#">Меню</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item
      {% ifequal sel_menu "main" %} 
      active
      {% endifequal %}
      ">
      	<a class="nav-link" href="/">Головна</a>
      </li>
	
	<li class="nav-item
	{% ifequal sel_menu "photo" %}
      active
	{% endifequal %}
	">
		<a class="nav-link" href="/photo/">Фото
    </a></li>

      <li class="nav-item">
      	<a class="nav-link" href="/forum/index.php">Форум
      </a></li>

    
{% load mytags %}

{% get_current_year as cur_year %}
	
	
	<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle 
        {% ifequal sel_menu "calendar" %}
        active
        {% endifequal %}
        " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Заходи
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#        <a class="dropdown-item" href="{% url 'calendar-year' cur_year|add:"-1" %}">Архів заходів {{cur_year|add:"-1"}}</a> #}

<a class="dropdown-item" href="/calendar/">Календар {{year}}</a>
<a class="dropdown-item" href="{% url 'year-result' cur_year %}">Результати серії марафонів</a>    

                
      <div class="dropdown-divider"></div>
      {% get_current_event as event_list %}
      {% for event in event_list %}
      	<a class="dropdown-item" href="{% url 'event-show' event.pk %}">{{ event.name }}</a>
      {% endfor %}
		
	<div class="dropdown-divider"></div>
	
	<a class="dropdown-item dropdown-toggle" href="#">
          Архів заходів {{cur_year|add:"-1"}}
	</a>
     <ul class="dropdown-menu">
      {% get_archive_event as arch_event_list %}
      {% for event in arch_event_list %}
      	<li><a class="dropdown-item" href="{% url 'event-show' event.pk %}">{{ event.name }}</a></li>
      {% endfor %}
        <div class="dropdown-divider"></div>
		<li><a class="dropdown-item" href="{% url 'year-result' cur_year|add:"-1" %}">Результати серії марафонів {{cur_year|add:"-1"}}</a></li>    
     </ul>        

		
        </div>
      </li>
      

      <li class="nav-item dropdown
         {% ifequal sel_menu "shop" %}
      		active
         {% endifequal %}
      ">      
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Магазин
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	      	<a class="dropdown-item" href="{% url 'bicycle-company' %}">Велосипеди</a>
    	  	<a class="dropdown-item" href="{% url 'components-company' %}">Виробники</a>
    	  	<a class="dropdown-item" href="{% url 'components-type-list' %}">Компоненти</a>
      		<a class="dropdown-item" href="{% url 'components-sale' %}" >Акційні товари</a>
      		<a class="dropdown-item" href="{% url 'components-discount' %}" >Чорна п'ятниця </a>
         </div>
       </li>


      <li class="nav-item dropdown
         {% ifequal sel_menu "workshop" %}
      		active
         {% endifequal %}
      ">      
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Майстерня
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	      	<a class="dropdown-item" href="{% url 'workshop-price' %}">Послуги</a>
    	  	<a class="dropdown-item" href="{% url 'workshop-service' %}">Технічне обслуговування</a> 
{#      		<a class="dropdown-item" href="{% url 'components-sale' %}" >Акційні товари </a> #}
         </div>
       </li>
       				

      
{% comment %}      
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
{% endcomment %}

      <li class="nav-item
      		{% ifequal sel_menu "about" %}
        	active
        {% endifequal %}
      ">
      	<a class="nav-link" href="/about/">Про нас
      </a></li>
      

      
    </ul>
  </div>

{% comment %}
<div id="menu">
<nav id="primary_nav_wrap">
<ul>
	{% ifequal sel_menu "main" %}			
				<li class="current-menu-item"><a href="/">Головна</a></li>
	{% else %}
				<li><a href="/">Головна</a></li>
	{% endifequal %}
	
	{% ifequal sel_menu "photo" %}
				<li class="current-menu-item"><a href="/photo/">Фото</a></li>
	{% else %}
				<li><a href="/photo/">Фото</a></li>
	{% endifequal %}
								
				<li><a href="/forum/index.php">Форум</a></li>

{% load mytags %}

{% get_current_year as cur_year %}
	{% ifequal sel_menu "calendar" %}				
				<li class="current-menu-item"><a  href="/calendar/">Заходи {{year}}</a>
	<ul>
	<li><a href="{% url 'calendar-year' cur_year|add:"-1" %}">Архів заходів {{cur_year|add:"-1"}}</a>
	<ul>
      {% get_archive_event as arch_event_list %}
      {% for event in arch_event_list %}
      	<li><a href="{% url 'event-show' event.pk %}">{{ event.name }}</a></li>
      {% endfor %}
	</ul>
	
	</li>
	
	<li><a href="{% url 'year-result' cur_year %}">Результати серії марафонів</a></li>

	</li> 
      {% get_current_event as event_list %}
      {% for event in event_list %}
      	<li><a href="{% url 'event-show' event.pk %}">{{ event.name }}</a></li>
      {% endfor %}
	</ul>
				</li>
	{% else %}			
  <li><a  href="/calendar/">Заходи</a> {# {cur_year} #}
    <ul>
      	<li><a href="{% url 'year-result' cur_year %}">Результати серії марафонів</a></li>    
      {% get_current_event as event_list %}
      {% for event in event_list %}
      	<li><a href="{% url 'event-show' event.pk %}">{{ event.name }}</a></li>
      {% endfor %}
    </ul>
  </li>
	{% endifequal %}				


	{% ifequal sel_menu "shop" %}				
		<li class="current-menu-item"><a  href="/shop/">Магазин</a>
	<ul>
      	<li><a href="{% url 'bicycle-company' %}">Велосипеди</a></li>
      	<li><a href="{% url 'components-company' %}">Запчастини</a></li>
      	<li><a href="{% url 'components-sale' %}" >Акційні товари </a></li>
	</ul>
				</li>
	{% else %}			
  		<li><a  href="/shop/">Магазин</a>
    <ul>
      	<li><a href="{% url 'bicycle-company' %}">Велосипеди</a></li>
      	<li><a href="{% url 'components-company' %}">Запчастини</a></li>
      	<li><a href="{% url 'components-sale' %}" >Акційні товари </a></li>
    </ul>
  </li>
	{% endifequal %}				


	{% ifequal sel_menu "workshop" %}				
		<li class="current-menu-item"><a  href="/workshop/">Майстерня</a>
	<ul>
      	<li><a href="{% url 'workshop-price' %}">Послуги</a></li>
      	<li><a href="{% url 'workshop-news' %}"></a>Статті</li>
{#      	<li><a href="{% url 'components-sale' %}" >Акційні товари </a></li> #}
	</ul>
				</li>
	{% else %}			
  		<li><a  href="/workshop/">Майстерня</a>
    <ul>
      	<li><a href="{% url 'workshop-price' %}">Послуги</a></li>
      	<li><a href="{% url 'workshop-news' %}">Запчастини</a></li>
{#      	<li><a href="{% url 'components-sale' %}" >Акційні товари </a></li> #}
    </ul>
  </li>
	{% endifequal %}				

	
	{% ifequal sel_menu "about" %}				
				<li class="current-menu-item"><a  href="/about/">Про нас</a></li>
	{% else %}			
				<li><a  href="/about/">Про нас</a></li>
	{% endifequal %}
	
</ul>
</nav>

</div>
{% endcomment %}